@layer components {
    /* Hero - Sou Produtor */

    .section-hero-custom-1.sections-sou-produtor-hero .hero-content .titulo h1 .title {
        @apply
        max-w-[748px]
    }

    .section-hero-custom-1.sections-sou-produtor-hero .hero-content .content-text {
        @apply
        max-w-[748px]
    }

    /* Intro - Sou Produtor */

    .sections-sou-produtor-intro {
        @apply
        p-section-top relative
    }

    .sections-sou-produtor-intro .content-text {
        @apply
        max-w-[892px] mx-auto
    }

    .sections-sou-produtor-intro .card {
        @apply
        relative overflow-hidden
        w-full h-full p-8
        flex flex-col justify-between gap-8
        rounded-4xl
        bg-neutro-principal
    }

    .sections-sou-produtor-intro .card.card-destaque {
        @apply
        bg-limao-variacao-1
    }

    .sections-sou-produtor-intro .card .card-header .card-icon {
        @apply
        flex flex-row gap-3
    }

    .sections-sou-produtor-intro .card .card-header .card-icon .card-image {
        @apply
        w-auto overflow-hidden rounded-2xl
        min-w-20 max-w-20
    }

    .sections-sou-produtor-intro .card .card-header .card-icon .card-image img {
        @apply
        w-full h-full object-cover object-center
    }

    .sections-sou-produtor-intro .card .card-body .card-text {
        @apply
       *:mb-2 last:*:mb-0
    }

    .sections-sou-produtor-intro .card .card-body .card-text h3 {
        @apply
        mt-4 first:mt-0
    }

    .sections-sou-produtor-intro .card .card-body .card-fonte {
        @apply
        text-sm text-neutro-variacao-5 italic mt-2
    }

    /* Produtor do Bem - Sou Produtor */

    .sections-sou-produtor-produtor-do-bem {
        @apply
        p-section relative
    }
}