@layer components {
    /* Botões */
    .btn {
        @apply
        inline-flex items-center justify-center gap-2
        px-6 py-3
        rounded-full
        bg-primario-variacao-1 hover:bg-primario-variacao-3 transition-all duration-300
        text-neutro-branco font-semibold text-lg text-center
    }

    .btn.btn-outline {
        @apply
        bg-transparent 
        text-primario-variacao-3
        hover:bg-primario-variacao-1
        hover:text-neutro-branco
        -outline-offset-2 outline-2 outline outline-primario-variacao-1
    }

    .btn.btn-secondary {
        @apply
        bg-limao-principal 
        text-primario-variacao-3
        hover:bg-limao-variacao-1
    }

    .btn.btn-outline.btn-secondary {
        @apply
        bg-transparent
        outline-limao-principal
        text-neutro-branco
        hover:bg-limao-principal
        hover:text-primario-variacao-3
    }

    .btn.btn-danger {
        @apply
        bg-transparent
        text-danger-principal
        hover:bg-danger-principal
        hover:text-neutro-branco
        -outline-offset-2 outline-2 outline outline-danger-principal
    }

    .btn.btn-small {
        @apply
        px-4 py-2
        text-base
    }

    .btn.btn-large {
        @apply
        px-8 py-4
    }

    .btn.btn-icon {
        @apply
        p-3 rounded-full
    }

    /* Conteúdo */
    .content-text {
        @apply
        w-full
    }

    .content-text h2 {
        @apply
        mb-3
    }

    .content-text h3 {
        @apply
        mb-3
    }

    .content-text p {
        @apply
        mb-4 text-lg
    }

    .content-text *:last-child {
        @apply
        mb-0
    }

    .content-text.content-text--light {
        @apply
        text-neutro-branco
    }

    /* Conteúdo de ícones */
    .content-icon {
        @apply
        min-h-16 min-w-16 rounded-2xl bg-neutro-variacao-1
        inline-flex items-center justify-center
    }

    .content-icon.content-icon--large {
        @apply
        min-h-20 min-w-20 rounded-3xl
    }

    .content-icon.content-icon--bigger {
        @apply
        min-h-24 min-w-24 rounded-3xl
    }

    .content-icon svg {
        @apply
        min-w-8 min-h-8
    }

    .content-icon.content-icon--bigger svg {
        @apply
        min-w-10 min-h-10
    }

    .content-icon.content-icon--primario {
        @apply
        bg-primario-variacao-3
    }

    .content-icon.content-icon--primario svg {
        @apply
        fill-limao-principal
    }

    .content-icon.content-icon--secundario {
        @apply
        bg-limao-principal
    }

    .content-icon.content-icon--secundario svg {
        @apply
        fill-primario-variacao-3
    }

    /* Navegação de carrossel */

    .navigation-carrossel {
        @apply
        inline-flex items-center gap-2
    }

    .navigation-carrossel .navigation-item {
        @apply
        transition-all duration-300
    }

    .navigation-carrossel .navigation-item.swiper-button-disabled {
        @apply
        opacity-50 pointer-events-none cursor-not-allowed
    }

    /* Cards */

    .card-primary {
        @apply
        bg-primario-variacao-5
        rounded-4xl
        flex flex-col justify-between
        w-full h-full
    }

    .card-primary .card-primary-icon {
        @apply
        pl-8 py-8
        flex flex-row justify-start
        w-full relative z-10
    }

    .card-primary-connection {
        @apply
        flex;
    }

    .card-primary-connection.connection-left,
    .card-primary-connection.connection-right {
        @apply
        flex flex-col py-6;
    }

    .card-primary-connection .fill {
        @apply
        w-full h-full
        bg-secundario-principal
    }

    .card-primary-connection .rounded-inverted {
        @apply
        w-4 h-4 min-w-4 min-h-4 overflow-hidden relative
        bg-secundario-principal
    }

    .card-primary-connection .rounded-inverted:before {
        @apply
        content-[''] absolute bottom-0 right-0 w-full h-full
        w-8 h-8 min-w-8 min-h-8 rounded-full
        bg-primario-variacao-5
    }

    .card-primary-connection .rounded-inverted.rounded-inverted--2 {
        @apply
        -rotate-90
    }

    .card-primary-connection.connection-right {
        @apply
        -scale-x-100
    }

    .card-primary .card-primary-text {
        @apply
        px-8 pb-8
    }

    .card-primary .card-primary-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .card-primary-connection-line {
        @apply
        absolute top-1/2 -translate-y-1/2 left-40 -right-18 h-4
        bg-secundario-principal
    }

    .card-secondary {
        @apply
        border-2 border-neutro-variacao-1
        p-10 rounded-4xl
        flex flex-col justify-between
        w-full h-full
    }

    .card-secondary .card-secondary-titulo h4 {
        @apply
        text-5xl text-primario-principal
    }

    .card-secondary .card-secondary-conteudo {
        @apply
        pt-10
    }

    .card-people {
        @apply
        flex flex-col items-center justify-center
        gap-4
    }

    .card-people .image {
        @apply
        w-auto h-auto min-w-20 min-h-20 max-w-20 max-h-20
        rounded-full overflow-hidden
        aspect-square
    }

    .card-people .image img {
        @apply
        w-full h-full object-cover object-center
    }

    .card-people .text {
        @apply
        text-neutro-branco text-center
        flex flex-col items-center justify-center gap-1
    }
    
    .card-people .text h4 {
        @apply
        text-xl
    }

    .card-people .text p {
        @apply
        text-base text-neutro-variacao-2
    }
}
