@layer components {
    /* Botões */
    .btn {
        @apply
        inline-flex items-center justify-center gap-2
        px-6 py-3
        rounded-full
        bg-primario-variacao-1 hover:bg-primario-variacao-3 transition-all duration-300
        text-neutro-branco font-semibold text-lg text-center
    }

    .btn.btn-outline {
        @apply
        bg-transparent 
        text-primario-variacao-3
        hover:bg-primario-variacao-1
        hover:text-neutro-branco
        -outline-offset-2 outline-2 outline outline-primario-variacao-1
    }

    .btn.btn-secondary {
        @apply
        bg-limao-variacao-1 
        text-primario-variacao-3
        hover:bg-limao-variacao-2
    }

    .btn.btn-outline.btn-secondary {
        @apply
        bg-transparent
        outline-limao-variacao-1
        text-neutro-branco
        hover:bg-limao-variacao-1
        hover:text-primario-variacao-3
    }

    .btn.btn-danger {
        @apply
        bg-transparent
        text-danger-principal
        hover:bg-danger-principal
        hover:text-neutro-branco
        -outline-offset-2 outline-2 outline outline-danger-principal
    }

    .btn.btn-small {
        @apply
        px-4 py-2
        text-base
    }

    .btn.btn-large {
        @apply
        px-8 py-4
    }

    .btn.btn-icon {
        @apply
        p-3 rounded-full
    }

    /* Tags */

    .tag-1 {
        @apply
        inline-flex items-center justify-center gap-2
        bg-neutro-principal
        rounded-full
        p-2 pr-4
    }

    .tag-1 svg {
        @apply
        w-4 h-4 min-w-4 min-h-4
        *:fill-secundario-principal
        -rotate-[135deg]
    }

    .tag-1 span {
        @apply
        text-primario-principal text-sm uppercase font-semibold
    }

    .tag-1.tag-1--primario-principal {
        @apply
        bg-primario-principal
    }

    .tag-1.tag-1--primario-principal svg,
    .tag-1.tag-1--primario-variacao-1 svg,
    .tag-1.tag-1--primario-variacao-2 svg,
    .tag-1.tag-1--primario-variacao-3 svg,
    .tag-1.tag-1--primario-variacao-4 svg {
        @apply
        *:fill-limao-variacao-1
    }

    .tag-1.tag-1--primario-principal span,
    .tag-1.tag-1--primario-variacao-1 span,
    .tag-1.tag-1--primario-variacao-2 span,
    .tag-1.tag-1--primario-variacao-3 span,
    .tag-1.tag-1--primario-variacao-4 span {
        @apply
        text-neutro-branco
    }

    .tag-1.tag-1--primario-variacao-1 {
        @apply
        bg-primario-variacao-2
    }

    .tag-1.tag-1--primario-variacao-2 {
        @apply
        bg-primario-variacao-3
    }

    .tag-1.tag-1--primario-variacao-3 {
        @apply
        bg-primario-variacao-4
    }

    .tag-1.tag-1--primario-variacao-4 {
        @apply
        bg-primario-variacao-5
    }

    /* Content Image */

    .content-image {
        @apply
        w-full h-auto
    }

    .content-image.content-image--rounded-full {
        @apply
        rounded-full overflow-hidden
    }

    .content-image.content-image--square {
        @apply
        aspect-square overflow-hidden
    }

    /* Conteúdo */
    .content-text {
        @apply
        w-full
    }

    .content-text h2 {
        @apply
        mb-3
    }

    .content-text h3 {
        @apply
        mb-3
    }

    .content-text p {
        @apply
        mb-4 text-lg
    }

    .content-text *:last-child {
        @apply
        mb-0
    }

    .content-text.content-text--light {
        @apply
        text-neutro-branco
    }

    /* Conteúdo de ícones */
    .content-icon {
        @apply
        min-h-16 min-w-16 rounded-2xl bg-neutro-variacao-1
        inline-flex items-center justify-center
    }

    .content-icon.content-icon--large {
        @apply
        min-h-20 min-w-20 rounded-3xl
    }

    .content-icon.content-icon--bigger {
        @apply
        min-h-24 min-w-24 rounded-3xl
    }

    .content-icon svg {
        @apply
        min-w-8 min-h-8
    }

    .content-icon.content-icon--bigger svg {
        @apply
        min-w-10 min-h-10
    }

    .content-icon.content-icon--primario {
        @apply
        bg-primario-variacao-3
    }

    .content-icon.content-icon--primario svg {
        @apply
        fill-limao-variacao-1
    }

    .content-icon.content-icon--secundario {
        @apply
        bg-limao-variacao-1
    }

    .content-icon.content-icon--secundario svg {
        @apply
        fill-primario-variacao-3
    }

    /* Navegação de carrossel */

    .navigation-carrossel {
        @apply
        inline-flex items-center gap-2
    }

    .navigation-carrossel .navigation-item {
        @apply
        transition-all duration-300
    }

    .navigation-carrossel .navigation-item.swiper-button-disabled {
        @apply
        opacity-50 pointer-events-none cursor-not-allowed
    }

    /* Cards */

    .card-primary {
        @apply
        bg-primario-variacao-5
        rounded-4xl
        flex flex-col justify-between
        w-full h-full
    }

    .card-primary .card-primary-icon {
        @apply
        pl-8 py-8
        flex flex-row justify-start
        w-full relative z-10
    }

    .card-primary-connection {
        @apply
        flex;
    }

    .card-primary-connection.connection-left,
    .card-primary-connection.connection-right {
        @apply
        flex flex-col py-6;
    }

    .card-primary-connection .fill {
        @apply
        w-full h-full
        bg-secundario-principal
    }

    .card-primary-connection .rounded-inverted {
        @apply
        w-4 h-4 min-w-4 min-h-4 overflow-hidden relative
        bg-secundario-principal
    }

    .card-primary-connection .rounded-inverted:before {
        @apply
        content-[''] absolute bottom-0 right-0 w-full h-full
        w-8 h-8 min-w-8 min-h-8 rounded-full
        bg-primario-variacao-5
    }

    .card-primary-connection .rounded-inverted.rounded-inverted--2 {
        @apply
        -rotate-90
    }

    .card-primary-connection.connection-right {
        @apply
        -scale-x-100
    }

    .card-primary .card-primary-text {
        @apply
        px-8 pb-8
    }

    .card-primary .card-primary-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .card-primary-connection-line {
        @apply
        absolute top-1/2 -translate-y-1/2 left-40 -right-18 h-4
        bg-secundario-principal
    }

    .card-secondary {
        @apply
        border-2 border-neutro-variacao-1
        p-10 rounded-4xl
        flex flex-col justify-between
        w-full h-full
    }

    .card-secondary .card-secondary-titulo h4 {
        @apply
        text-5xl text-primario-principal
    }

    .card-secondary .card-secondary-conteudo {
        @apply
        pt-10
    }

    .card-people {
        @apply
        flex flex-col items-center justify-center
        gap-4
    }

    .card-people .image {
        @apply
        w-auto h-auto min-w-20 min-h-20 max-w-20 max-h-20
        rounded-full overflow-hidden
        aspect-square
    }

    .card-people .image img {
        @apply
        w-full h-full object-cover object-center
    }

    .card-people .text {
        @apply
        text-neutro-branco text-center
        flex flex-col items-center justify-center gap-1
    }
    
    .card-people .text h4 {
        @apply
        text-xl
    }

    .card-people .text p {
        @apply
        text-base text-neutro-variacao-2
    }

    .card-protocol {
        @apply
        w-full h-full
        flex flex-col justify-start
        bg-primario-variacao-4
        rounded-3xl
        relative overflow-hidden
    }

    .card-protocol .card-protocol-header {
        @apply
        flex flex-row items-center justify-start
        p-6 gap-4
    }

    .card-protocol .card-protocol-list-wrapper {
        @apply
        max-h-[298px] overflow-hidden h-full
    }

    .card-protocol .card-protocol-list {
        @apply
        pb-6
        flex flex-col gap-3
        w-full
    }
    
    .card-protocol .card-protocol-list-item {
        @apply
        flex
        w-full
        px-6 pb-3
        border-b-2 border-limao-variacao-1
        text-neutro-branco

        first:pt-0 last:pb-0 last:border-b-0
    }

    .card-protocol .card-protocol-more {
        @apply
        p-6 pt-14 pointer-events-none
        hidden items-center justify-center
        w-full
        absolute bottom-0 left-0 z-10
        bg-gradient-to-t from-primario-variacao-4 to-transparent
    }

    .card-protocol .card-protocol-more button {
        @apply
        pointer-events-auto
    }

    .card-protocol .card-protocol-more-active {
        @apply
        flex
    }

    .card-protocol.card-protocol-expanded .card-protocol-list-wrapper {
        @apply
        max-h-full
    }

    .card-protocol.card-protocol-expanded .card-protocol-list {
        @apply
        pb-20
    }

    .card-protocol.card-protocol-expanded .card-protocol-more {
        @apply
        bg-gradient-to-t from-primario-variacao-4/0 to-transparent
    }

    /* Cards Rotate */

    .card-rotate {
        @apply
        w-full min-h-[420px] h-full
        rounded-4xl
        outline-2 -outline-offset-2 outline outline-secundario-principal
        p-10
        flex flex-col items-start justify-between gap-10
    }

    .card-rotate.card-rotate-cta {
        @apply
        outline-none
        bg-limao-variacao-1
        items-end
    }

    .card-rotate.card-rotate-cta .content-button {
        @apply
        relative
        min-w-36 min-h-36
        max-w-36 max-h-36
    }

    .card-rotate.card-rotate-cta .content-button .btn-cta-icon {
        @apply
        absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
        w-16 h-16
        *:fill-limao-variacao-1
    }

    .card-rotate.card-rotate-cta .content-button .btn-cta-base {
        @apply
        w-full h-full
        *:fill-primario-variacao-1
    }

    .card-rotate.card-rotate-cta .content-text h3 {
        @apply
        text-4xl
    }

    .card-rotate.card-rotate-2 {
        @apply
        bg-limao-variacao-1 outline-limao-variacao-1
    }

    .card-rotate.card-rotate-3 {
        @apply
        bg-primario-principal outline-primario-principal
    }

    .card-rotate.card-rotate-4 {
        @apply
        bg-neutro-principal outline-neutro-principal
    }

    .card-rotate .content-text h3 {
        @apply
        text-2xl
    }

    .card-rotate.card-rotate-3 .content-text h3 {
        @apply
        text-neutro-branco
    }

    .card-rotate.card-rotate-reverse {
        @apply
        flex-col-reverse
    }

    /* Card Nivel Certificação */

    .card-nivel-certificacao {
        @apply
        flex flex-col items-center justify-start
        outline-2 -outline-offset-2 outline outline-secundario-principal
        rounded-4xl
        w-full h-full
    }

    .card-nivel-certificacao .card-nivel-certificacao-header {
        @apply
        w-full
        p-3 pb-6
    }

    .card-nivel-certificacao .card-nivel-certificacao-header .tag-1 {
        @apply
        w-full
    }

    .card-nivel-certificacao .card-nivel-certificacao-selo img {
        @apply
        w-auto h-auto min-h-[200px] max-h-[200px]
    }

    .card-nivel-certificacao .card-nivel-certificacao-content {
        @apply
        w-full h-full
        p-6 pt-0 space-y-6
        flex flex-col items-center justify-start
    }
    

    /* Card Image 1 */

    .card-image-1 {
        @apply
        relative z-10 w-full h-full
        bg-limao-variacao-1
        rounded-3xl overflow-hidden
        shadow-xl shadow-primario-variacao-5/30
        flex flex-col justify-between
    }

    .card-image-1 .content-image {
        @apply
        w-full h-[220px] min-h-[220px]
        rounded-b-3xl overflow-hidden
    }

    .card-image-1 .content-image img {
        @apply
        w-full h-full object-cover object-center scale-[101%]
    }

    .card-image-1 .content-text {
        @apply
        p-6 w-full h-full
        flex justify-center items-center
    }

    .card-image-1 .content-text h3 {
        @apply
        text-2xl
    }

    /* Cards Connection 1 */

    .cards-connection-1 {
        @apply
        flex items-stretch
    }

    .cards-connection-1 .card-connection-1 {
        @apply
        min-w-8 my-5 bg-limao-variacao-1
        relative
    }

    .cards-connection-1 .card-connection-1 .rounded-item {
        @apply
        w-8 h-8 min-w-8 min-h-8 bg-primario-variacao-5 rounded-full
    }

    .cards-connection-1 .card-connection-1 .rounded-top {
        @apply
        absolute -top-4 left-0 w-full
    }

    .cards-connection-1 .card-connection-1 .rounded-bottom {
        @apply
        absolute -bottom-4 left-0 w-full
    }

    /* Card Protocolo Nivel */

    .card-protocol-nivel {
        @apply
        flex flex-col items-center
        rounded-4xl bg-neutro-principal
        w-full h-auto
    }

    .card-protocol-nivel-header {
        @apply
        w-full
        p-3 pb-6
    }

    .card-protocol-nivel-header .tag-1 {
        @apply
        w-full
    }

    .card-protocol-nivel-selo {
        @apply
        w-full
        p-3 pb-6
        flex items-center justify-center
    }

    .card-protocol-nivel-selo img {
        @apply
        w-auto h-auto min-h-[200px] max-h-[200px]
    }

    .card-protocol-nivel-lista {
        @apply
        w-full
        flex flex-col
    }

    .card-protocol-nivel-lista li {
        @apply
        flex flex-col
        px-4 py-3
        border-b border-neutro-variacao-1
        first:border-t
    }

    .card-protocol-nivel-lista-tag {
        @apply
        text-neutro-variacao-5
        text-xs uppercase
    }

    .card-protocol-nivel-lista-texto {
        @apply
        font-semibold
    }

    .card-protocol-nivel-atributos {
        @apply
        w-full
        flex flex-col space-y-3
        px-3 py-3
    }

    .card-protocol-nivel-atributos-item {
        @apply
        w-full
        flex flex-row items-start justify-start space-x-4
        bg-primario-principal
        rounded-3xl
        p-6
    }

    .card-protocol-nivel-atributos-item.card-protocol-nivel-atributos-item-2 {
        @apply
        bg-primario-variacao-2
    }

    .card-protocol-nivel-atributos-item.card-protocol-nivel-atributos-item-3 {
        @apply
        bg-primario-variacao-3
    }

    .card-protocol-nivel-atributos-item.card-protocol-nivel-atributos-item-4 {
        @apply
        bg-primario-variacao-4
    }

    .card-protocol-nivel-atributos-item svg {
        @apply
        fill-limao-variacao-1
    }

    .card-protocol-nivel-atributos-lista {
        @apply
        w-full
        flex flex-col space-y-2
    }

    .card-protocol-nivel-atributos-lista li {
        @apply
        text-neutro-branco
        flex flex-col items-start justify-start
    }

    .card-protocol-nivel-atributos-lista li .card-protocol-nivel-atributos-lista-texto {
        @apply
        text-sm font-semibold
    }

    .card-protocol-nivel-atributos-lista li .card-protocol-nivel-atributos-lista-descricao {
        @apply
        text-xs font-regular
    }

    /* CTA */

    .cta-1 {
        @apply
        p-section
    }


    .cta-1 .content-cta {
        @apply
        w-full max-w-[800px]
        flex items-center justify-center gap-14
    }

    .cta-1 .content-cta .content-text {
        @apply
        max-w-[440px]
    }

    .cta-1 .content-cta .content-text h2 {
        @apply
        text-5xl leading-tight
    }

    .cta-1 .content-text h2 .destaque {
        @apply
        text-primario-principal
    }
    
    .cta-1 .content-button {
        @apply
        relative
        min-w-52 min-h-52
    }

    .cta-1 .content-button .btn-cta-base {
        @apply
        w-full h-auto
    }

    .cta-1 .content-button .btn-cta-icon {
        @apply
        absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
        w-16 h-16
    }

    /* Timeline */

    .timeline-1 {
        @apply
        relative w-full
    }

    .timeline-1 .timeline-1-items {
        @apply
        flex flex-col items-end gap-10
    }

    .timeline-1 .timeline-1-item {
        @apply
        max-w-[800px] w-full
        flex flex-row items-center gap-10
        pl-3 py-3 pr-6
        rounded-3xl
        bg-neutro-principal outline-2 outline outline-neutro-variacao-1
    }

    .timeline-1 .timeline-1-item.item-active {
        @apply
        outline-secundario-principal
    }

    .timeline-1 .timeline-1-item:last-child {
        @apply
        bg-primario-variacao-5
        outline-secundario-principal
    }

    .timeline-1 .timeline-1-item-count {
        @apply
        flex items-center gap-3
    }

    .timeline-1 .timeline-1-item-count-number {
        @apply
        flex flex-col items-center justify-center gap-2
        w-30 h-30 min-w-30 min-h-30
        bg-primario-variacao-5 text-limao-variacao-1
        rounded-2xl
        text-6xl font-display font-semibold
    }

    .timeline-1 .timeline-1-item:last-child .timeline-1-item-count-number {
        @apply
        text-limao-variacao-1
        bg-primario-principal
    }

    .timeline-1 .timeline-1-item-count-icon {
        @apply
        w-30 h-30 min-w-30 min-h-30
        flex items-center justify-center
        rounded-2xl
        bg-limao-variacao-1 text-primario-variacao-5
    }

    .timeline-1 .timeline-1-item-count-icon svg {
        @apply
        w-10 h-10 min-w-10 min-h-10
        fill-primario-variacao-3
    }

    .timeline-1 .timeline-1-item-content {
        @apply
        w-full
    }

    .timeline-1 .timeline-1-item-content h3 {
        @apply
        text-2xl font-regular
    }

    .timeline-1 .timeline-1-item-content h3 strong {
        @apply
        font-semibold
    }

    .timeline-1 .timeline-1-item:last-child .timeline-1-item-content h3 {
        @apply
        text-neutro-branco
    }

    .timeline-1 .timeline-1-line {
        @apply
        absolute top-14 bottom-14 left-0 w-10 z-0
    }

    .timeline-1 .timeline-1-line-line {
        @apply
        absolute top-0 left-1/2 -translate-x-1/2
        w-2 h-full bg-neutro-variacao-1 rounded-full
    }

    .timeline-1 .timeline-1-line-line-progress {
        @apply
        absolute top-0 left-1/2 -translate-x-1/2  z-10
        w-2 h-1/2 bg-limao-variacao-1 rounded-full
    }

    .timeline-1 .timeline-1-line-dots {
        @apply
        absolute top-0 bottom-0 left-1/2 -translate-x-1/2 z-20
        flex flex-col justify-between
    }

    .timeline-1 .timeline-1-line-dot {
        @apply
        w-8 h-8 bg-neutro-variacao-2 rounded-full
    }

    .timeline-1 .timeline-1-line-dot.item-active {
        @apply
        bg-secundario-principal
    }

    /* List Big Link Row */

    .list-big-link-row {
        @apply
        w-full
        flex flex-col items-start justify-start
    }

    .list-big-link-row-header {
        @apply
        px-10 pt-20 pb-10
        text-neutro-branco
    }

    .list-big-link-row ul {
        @apply
        w-full
        flex flex-col items-start justify-start
    }

    .list-big-link-row ul li {
        @apply
        w-full
        flex flex-col items-start justify-start
    }

    .list-big-link-row ul li a {
        @apply
        w-full relative
        flex flex-col items-start justify-start gap-1
        text-neutro-branco
        px-10 py-6
        border-t-2 border-secundario-principal
        transition-all duration-300
    }
    
    .list-big-link-row ul li a:hover {
        @apply
        bg-secundario-principal
    }
    
    .list-big-link-row ul li:last-child a {
        @apply
        border-b-2
    }
    
    .list-big-link-row ul li a h4 {
        @apply
        text-5xl font-semibold
        transition-all duration-300
    }
    
    .list-big-link-row ul li a:hover h4 {
        @apply
        text-primario-variacao-5
    }

    .list-big-link-row ul li a p {
        @apply
        text-base text-neutro-variacao-1
        transition-all duration-300
    }

    .list-big-link-row ul li a:hover p {
        @apply
        text-neutro-branco
    }

    .list-big-link-row ul li a .list-big-link-row-image {
        @apply
        pointer-events-none opacity-0 scale-90
        absolute top-1/2 right-10 -translate-y-1/2 z-10
        aspect-square
        min-w-[380px] min-h-[380px]
        max-w-[380px] max-h-[380px]
        transition-all duration-300
    }
    
    .list-big-link-row ul li a:hover .list-big-link-row-image {
        @apply
        opacity-100 scale-100
    }

    .list-big-link-row ul li a .list-big-link-row-image .foto {
        @apply
        w-full h-full
        rounded-full rounded-bl-none overflow-hidden
    }

    .list-big-link-row ul li a .list-big-link-row-image .foto img {
        @apply
        w-full h-full object-cover object-center
    }

    .list-big-link-row ul li a .list-big-link-row-image .produto img {
        @apply
        absolute top-1/2 right-10 -translate-y-1/2 z-10
    }

    .list-big-link-row ul li a .list-big-link-row-image .forma-pingo {
        @apply
        absolute top-0 left-0 w-full h-full
        bg-limao-variacao-1
        rounded-full rounded-bl-none
    }

    /* Passo a Passo */

    .passo-a-passo-1 {
        @apply
        w-full
        flex flex-col items-start justify-start space-y-3
    }
    
    .passo-a-passo-1-item {
        @apply
        w-full
        flex flex-row items-center justify-start
        bg-neutro-principal
        p-3 pr-10
        rounded-4xl
        space-x-10
    }
    
    .passo-a-passo-1-item-count {
        @apply
        flex flex-row items-stretch justify-start gap-3
        min-w-[400px]
    }

    .passo-a-passo-1-item:nth-child(5n+2) .passo-a-passo-1-item-count {
        @apply flex-row-reverse justify-end
    }

    .passo-a-passo-1-item:nth-child(5n+5) .passo-a-passo-1-item-count {
        @apply flex-row-reverse justify-end
    }

    .passo-a-passo-1-item-count .number {
        @apply
        flex flex-col items-center justify-center gap-2
        w-30 h-30 min-w-30 min-h-30
        bg-primario-variacao-5 text-limao-variacao-1
        rounded-2xl
        text-6xl font-display font-semibold
    }

    /* Padrão de cores alternado a cada 5 itens */
    .passo-a-passo-1-item:nth-child(5n+2) .passo-a-passo-1-item-count .number {
        @apply 
        bg-limao-variacao-1 text-primario-variacao-3
    }

    .passo-a-passo-1-item:nth-child(5n+3) .passo-a-passo-1-item-count .number {
        @apply 
        bg-transparent text-primario-variacao-3
        outline-2 outline outline-secundario-principal
    }

    .passo-a-passo-1-item:nth-child(5n+4) .passo-a-passo-1-item-count .number {
        @apply 
        bg-limao-variacao-1 text-primario-variacao-3
    }

    .passo-a-passo-1-item:nth-child(5n+5) .passo-a-passo-1-item-count .number {
        @apply 
        bg-primario-principal text-limao-variacao-1
    }

    .passo-a-passo-1-item-count .icon,
    .passo-a-passo-1-item-count .image {
        @apply
        flex flex-col items-center justify-center
        w-30 h-30 min-w-30 min-h-30
        rounded-2xl overflow-hidden
    }

    .passo-a-passo-1-item-count .icon {
        @apply
        bg-limao-variacao-1
    }

    .passo-a-passo-1-item-count .icon svg {
        @apply
        w-10 h-10 min-w-10 min-h-10
        fill-primario-variacao-3
    }

    .passo-a-passo-1-item:nth-child(5n+4) .passo-a-passo-1-item-count .icon {
        @apply 
        bg-primario-principal
    }

    .passo-a-passo-1-item:nth-child(5n+4) .passo-a-passo-1-item-count .icon svg {
        @apply
        fill-limao-variacao-1
    }

    .passo-a-passo-1-item-count .image img {
        @apply
        w-full h-full object-cover object-center
    }

    .passo-a-passo-1-item-content {
        @apply
        w-full h-full
        flex flex-col items-start justify-center
    }

    .passo-a-passo-1-item-content .content-text {
        @apply
        w-full
        py-4
    }

    .passo-a-passo-1-item-content .content-text h3 {
        @apply
        text-2xl
    }

    .passo-a-passo-1-item-content .content-text a {
        @apply
        text-primario-principal hover:text-primario-variacao-3
        transition-all duration-300 underline
    }

    /* Form */

    /* Progress Bar */

    .progress-bar-container {
        @apply
        w-full
        flex flex-col items-start justify-start gap-4
    }

    .progress-bar-container .progress-line-wrapper {
        @apply
        w-full relative
        flex flex-col items-start justify-start
    }

    .progress-bar-container .progress-line-wrapper .progress-line {
        @apply
        w-full
        h-2
        bg-neutro-variacao-1
        rounded-full
    }

    .progress-bar-container .progress-line-wrapper .progress-line-fill {
        @apply
        absolute top-0 left-0
        h-2
        bg-primario-principal
        rounded-full
        transition-all duration-300
    }

    .progress-bar-container .progress-steps {
        @apply
        w-full
        grid grid-cols-4
    }

    .progress-bar-container .progress-steps .progress-step {
        @apply
        w-full
        flex flex-col items-center justify-center
        gap-2
    }

    .progress-bar-container .progress-steps .progress-step .progress-step-number {
        @apply
        w-14 h-14 min-w-14 min-h-14
        bg-neutro-variacao-1
        rounded-full
        flex items-center justify-center
        text-neutro-variacao-5
        text-2xl font-display font-semibold
    }

    .progress-bar-container .progress-steps .progress-step .progress-step-number .number {
        @apply
        block
    }

    .progress-bar-container .progress-steps .progress-step .progress-step-number .check {
        @apply
        hidden
        *:fill-limao-variacao-1
        w-6 h-6 min-w-6 min-h-6
    }

    .progress-bar-container .progress-steps .progress-step .progress-step-title {
        @apply
        text-neutro-variacao-5
        text-sm font-semibold
    }

    .progress-bar-container .progress-steps .progress-step.checked .progress-step-number,
    .progress-bar-container .progress-steps .progress-step.active .progress-step-number {
        @apply
        bg-primario-principal
        text-neutro-branco
    }
    
    .progress-bar-container .progress-steps .progress-step.active .progress-step-title {
        @apply
        text-primario-variacao-5
    }

    .progress-bar-container .progress-steps .progress-step.checked .progress-step-number .number {
        @apply
        hidden
    }

    .progress-bar-container .progress-steps .progress-step.checked .progress-step-number .check {
        @apply
        flex items-center justify-center
    }

    /* Form Container */

    .multi-step-form-container {
        @apply
        w-full
        p-8 rounded-4xl
        border-2 border-neutro-variacao-1
        flex
    }

    .multi-step-form-container .form-step {
        @apply
        hidden
        w-full
    }
    
    .multi-step-form-container .form-step.active {
        @apply
        block
    }

    .multi-step-form-container .form-step .step-content {
        @apply
        w-full
        flex flex-col items-center gap-6
    }

    .multi-step-form-container .form-step .step-content .content-header {
        @apply
        w-full
        flex flex-col items-center text-center
    }

    .multi-step-form-container .form-step .step-content .content-header .content-icon {
        @apply
        mb-4
    }

    .multi-step-form-container .form-step .step-content .content-header .step-title {
        @apply
        mb-2
    }

    .multi-step-form-container .form-step .step-content .content-header .step-description {
        @apply
        text-neutro-variacao-5
    }

    .multi-step-form-container .form-step .step-content .form-navigation {
        @apply
        w-full
        flex flex-row items-center justify-center gap-4
    }

    .multi-step-form-container .form-step .step-content .form-fields {
        @apply
        w-full max-w-[400px] mx-auto
        flex flex-col items-start justify-start gap-4
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group {
        @apply
        w-full
        flex flex-col items-start justify-start gap-2
    }
    
    .multi-step-form-container .form-step .step-content .form-fields .form-group > label {
        @apply
        text-sm font-semibold
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group input,
    .multi-step-form-container .form-step .step-content .form-fields .form-group textarea {
        @apply
        w-full
        px-6 py-3
        border-2 border-neutro-variacao-1
        text-primario-variacao-5 text-lg
        rounded-full
        ring-0 ring-transparent outline-none
        focus:ring-2 focus:ring-primario-principal
        transition-all duration-300
    }

    .multi-step-form-container .form-step .step-content .form-fields.text-area-group {
        @apply
        max-w-[600px]
    }

    .multi-step-form-container .form-step .step-content .form-fields.text-area-group .form-group textarea {
        @apply
        rounded-2xl resize-none
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group input::placeholder {
        @apply
        text-neutro-variacao-3
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group .error-message {
        @apply
        text-danger-principal text-xs font-semibold
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group .form-group-options {
        @apply
        w-full
        flex flex-col items-start justify-start gap-2
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group .form-group-options label {
        @apply
        w-full
        px-4 py-3
        border-2 border-neutro-variacao-1
        rounded-xl
        cursor-pointer
        transition-all duration-200
        hover:border-primario-principal
        hover:bg-primario-principal/5
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group .form-group-options label.selected {
        @apply
        border-primario-principal
        bg-neutro-principal
        text-primario-principal
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group .form-group-options label .form-group-option-title {
        @apply
        text-sm
    }

    .multi-step-form-container .form-step .step-content .form-fields .form-group .form-group-options label input {
        @apply
        w-full
        flex flex-row items-center justify-start gap-2
        hidden
    }

}