@layer components {
    /* Seções */

    /* Hero - Página Principal */

    .sections-pagina-principal-hero {
        @apply
        bg-primario-variacao-5
        min-h-[calc(100dvh-40px)] md:rounded-b-[80px] sm:rounded-b-[64px] rounded-b-[48px]
        flex items-center justify-center relative overflow-hidden
    }

    .sections-pagina-principal-hero .hero-content {
        @apply
        flex flex-col justify-between sm:items-center items-start
        w-full max-w-[916px] mx-auto pt-[140px] pb-[80px] z-10 relative
    }

    .sections-pagina-principal-hero .hero-content .titulo h1 {
        @apply
        lg:text-5xl/[56px] xxs:text-4xl/[48px] text-3xl/[40px] sm:text-center text-left text-neutro-branco
        flex flex-col sm:items-center items-start mb-6
    }

    .sections-pagina-principal-hero .hero-content .titulo h1 .destaque {
        @apply
        text-limao-variacao-1
    }

    .sections-pagina-principal-hero .hero-content .subtitulo {
        @apply
        flex flex-row items-center justify-center gap-3
        text-center text-neutro-branco mb-6
    }
    
    .sections-pagina-principal-hero .hero-content .subtitulo p {
        @apply
        xxs:text-lg text-base text-left
    }
    
    .sections-pagina-principal-hero .hero-content .subtitulo .icons {
        @apply
        relative
        sm:w-8 sm:h-8 sm:min-w-8 sm:min-h-8 w-16 h-16 min-w-16 min-h-16
        sm:rounded-none rounded-2xl sm:bg-transparent bg-limao-variacao-1
    }

    .sections-pagina-principal-hero .hero-content .subtitulo .icons .icon {
        @apply
        absolute
        sm:top-0 sm:left-0
        top-1/2 left-1/2 sm:translate-x-[0] sm:translate-y-[0] -translate-x-1/2 -translate-y-1/2
        w-8 h-8 min-w-8 min-h-8
    }

    .sections-pagina-principal-hero .hero-content .subtitulo svg {
        @apply
        w-8 h-8 min-w-8 min-h-8
        sm:fill-neutro-branco fill-primario-variacao-3
    }

    .sections-pagina-principal-hero .hero-bg-video {
        @apply
        absolute top-0 left-0 w-full h-full z-0 opacity-30
    }

    .sections-pagina-principal-hero .hero-bg-video video {
        @apply
        w-full h-full object-cover object-center;

        &::-webkit-media-controls {
            display: none !important;
        }
    }

    /* Sobre - Página Principal */

    .sections-pagina-principal-sobre .card {
        @apply
        rounded-4xl overflow-hidden
        w-full h-full
    }

    .sections-pagina-principal-sobre .card-1 {
        @apply
        bg-neutro-principal
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-1-text {
        @apply
        md:px-8 px-6 pt-8 pb-6
    }

    .sections-pagina-principal-sobre .card-1-text h3 {
        @apply
        text-xl
    }

    .sections-pagina-principal-sobre .card-1-illustration svg {
        @apply
        w-full h-full md:min-w-full sm-plus:min-w-[140%] min-w-full
    }

    .sections-pagina-principal-sobre .card-2 {
        @apply
        bg-primario-variacao-5
        md:px-8 px-6 pt-8
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-2-text {
        @apply
        pb-6
    }

    .sections-pagina-principal-sobre .card-2-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .sections-pagina-principal-sobre .card-2-illustration {
        @apply
        max-w-[260px] mx-auto
    }

    .sections-pagina-principal-sobre .card-2-illustration svg {
        @apply
        w-full h-full
    }

    .sections-pagina-principal-sobre .cards-vertical {
        @apply
        grid lg:grid-rows-2 grid-rows-1 lg:grid-cols-1 sm-plus:grid-cols-7 grid-cols-1 gap-6 items-stretch
        h-full
    }

    .sections-pagina-principal-sobre .cards-vertical .card-3 {
        @apply
        h-auto
        lg:first:col-span-1 sm-plus:first:col-span-3 first:col-span-1 lg:last:col-span-1 sm-plus:last:col-span-4 last:col-span-1
    }

    .sections-pagina-principal-sobre .card-3 {
        @apply
        bg-neutro-principal
        py-8 md:px-8 px-6
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-3-text h3 {
        @apply
        text-xl
    }

    .sections-pagina-principal-sobre .card-3-icon {
        @apply
        mb-6
    }

    .sections-pagina-principal-sobre .card-5 {
        @apply
        relative lg:min-h-[auto] min-h-[320px]
        py-8 md:px-8 px-6
        flex flex-col justify-end
        before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-10
        before:bg-gradient-to-b before:from-primario-variacao-5/0 before:via-primario-variacao-5/40 before:to-primario-variacao-5
    }

    .sections-pagina-principal-sobre .card-5-text {
        @apply
        relative z-20
    }

    .sections-pagina-principal-sobre .card-5-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .sections-pagina-principal-sobre .card-5-image {
        @apply
        absolute top-0 left-0 w-full h-full z-0
    }

    .sections-pagina-principal-sobre .card-5-image img {
        @apply
        w-full h-full object-cover object-center
    }

    .sections-pagina-principal-sobre .card-6 {
        @apply
        py-8 md:px-8 px-6
        bg-primario-variacao-5
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-6-text {
        @apply
        sm:max-w-[290px] max-w-full
    }

    .sections-pagina-principal-sobre .card-6-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .sections-pagina-principal-sobre .card-6-icons {
        @apply
        flex flex-row justify-between
        mt-6
    }

    .sections-pagina-principal-sobre .card-6-icon {
        @apply
        w-full sm:max-h-full max-h-24 aspect-square
        md:rounded-3xl rounded-2xl bg-neutro-principal
        flex items-center justify-center
        shadow-custom-1
        relative z-10

        last:bg-limao-variacao-1
    }

    .sections-pagina-principal-sobre .card-6-icon svg {
        @apply
        md:w-12 md:h-12 md:min-w-12 md:min-h-12 
        w-10 h-10 min-w-10 min-h-10
    }

    .sections-pagina-principal-sobre .card-6-connection {
        @apply
        flex;
    }

    .sections-pagina-principal-sobre .card-6-connection.connection-left,
    .sections-pagina-principal-sobre .card-6-connection.connection-right {
        @apply
        flex flex-col py-6;
    }

    .sections-pagina-principal-sobre .card-6-connection .fill {
        @apply
        w-full h-full
        bg-neutro-branco
    }

    .sections-pagina-principal-sobre .card-6-connection .rounded-inverted {
        @apply
        xl:w-4 xl:h-4 xl:min-w-4 xl:min-h-4 
        w-2 h-2 min-w-2 min-h-2 
        overflow-hidden relative
        bg-neutro-branco
    }

    .sections-pagina-principal-sobre .card-6-connection .rounded-inverted:before {
        @apply
        content-[''] absolute bottom-0 left-0 w-full h-full z-10
        xl:w-8 xl:h-8 xl:min-w-8 xl:min-h-8 
        w-4 h-4 min-w-4 min-h-4 
        rounded-full
        bg-primario-variacao-5
    }

    .sections-pagina-principal-sobre .card-6-connection .rounded-inverted.rounded-inverted--2 {
        @apply
        rotate-90
    }

    .sections-pagina-principal-sobre .card-6-connection.connection-right {
        @apply
        -scale-x-100
    }

    .sections-pagina-principal-sobre .card-7 {
        @apply
        py-8 md:px-8 px-6
        bg-limao-variacao-1
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-7-content {
        @apply
        flex flex-col justify-between mb-6
    }

    .sections-pagina-principal-sobre .card-7-images {
        @apply
        flex flex-row gap-3 mb-6
    }

    .sections-pagina-principal-sobre .card-7-images > * {
        @apply
        w-1/4 md:min-w-14 min-w-[auto] md:rounded-3xl rounded-2xl overflow-hidden sm:max-h-full max-h-24
        first:-order-2
    }

    .sections-pagina-principal-sobre .card-7-icon {
        @apply
        flex items-center justify-center bg-primario-principal
        p-2 -order-1
    }

    .sections-pagina-principal-sobre .card-7-icon svg {
        @apply
        w-full h-auto md:max-w-14 max-w-10
        *:fill-limao-variacao-1
    }

    .sections-pagina-principal-sobre .card-7-image img {
        @apply
        w-full h-full object-cover object-center
    }

    .sections-pagina-principal-sobre .card-7-text h3 {
        @apply
        text-xl
    }

    .sections-pagina-principal-sobre .card-7-cta .btn {
        @apply
        w-full
    }

    /* Texto de engajamento */

    .sections-pagina-principal-sobre .texto-engajameto {
        @apply
        flex sm-plus:flex-row flex-col lg:gap-20 gap-10 sm-plus:items-center items-start
        w-full sm-plus:max-w-[1178px] max-w-full mx-auto
    }

    .sections-pagina-principal-sobre .texto-engajameto .wrapper-svg {
        @apply
        w-full h-auto lg:max-w-96 md:max-w-56 sm-plus:max-w-40 max-w-24
    }

    .sections-pagina-principal-sobre .texto-engajameto .wrapper-svg svg {
        @apply
        w-full h-full
    }

    .sections-pagina-principal-sobre .texto-engajameto .content-text h2 {
        @apply
        lg:text-5xl/[56px] md:text-4xl/[48px] text-3xl/[40px]
    }

    /* Certificações - Página Principal */

    .sections-pagina-principal-certificacoes .cta-certificacoes {
        @apply
        bg-primario-variacao-5
        xs-plus:pt-20 pt-16 md:pb-20 sm:pb-56 pb-32 lg:px-10 md:px-8 xxs:px-6 px-4
        rounded-4xl
        flex flex-col justify-between items-center relative overflow-hidden
    }

    .sections-pagina-principal-certificacoes .cta-certificacoes .titulo {
        @apply
        mb-6 z-10
    }

    .sections-pagina-principal-certificacoes .cta-certificacoes .texto {
        @apply
        mb-6 z-10
    }

    .sections-pagina-principal-certificacoes .cta-certificacoes .botao {
        @apply
        z-10
    }

    .sections-pagina-principal-certificacoes .cta-certificacoes .content-text {
        @apply
        text-neutro-branco text-center
    }

    .sections-pagina-principal-certificacoes .cta-certificacoes .content-text p {
        @apply
        xl:max-w-[860px] max-w-[660px] mx-auto
    }

    .sections-pagina-principal-certificacoes .cta-certificacoes .ilustracoes {
        @apply
        absolute -bottom-10 md:-left-20 -left-0 md:-right-20 -right-0 z-0
        flex flex-row justify-between md:gap-0 gap-10
    }

    .sections-pagina-principal-certificacoes .cta-certificacoes .ilustracoes .ilustracao img {
        @apply
        w-full h-auto lg:max-w-[308px] md:max-w-[268px] max-w-full
    }

    /* Hero - Quem Somos */

    .sections-quem-somos-hero {
        @apply
        relative
        pt-36
    }

    .sections-quem-somos-hero .hero-content .titulo {
        @apply
        mb-6
    }

    .sections-quem-somos-hero .hero-content .titulo h1 {
        @apply
        inline-flex flex-col items-start
    }

    .sections-quem-somos-hero .hero-content .titulo h1 .destaque {
        @apply
        text-primario-principal
    }

    .sections-quem-somos-hero .hero-image {
        @apply
        relative
    }

    .sections-quem-somos-hero .hero-image .hero-image-content {
        @apply
        relative overflow-hidden
        w-full h-full aspect-square rounded-full rounded-bl-none
    }

    .sections-quem-somos-hero .hero-image .hero-image-content img {
        @apply
        w-full h-full object-cover object-center
    }

    .sections-quem-somos-hero .hero-image .hero-image-icons {
        @apply
        absolute top-0 left-0 w-full h-full z-10
    }

    .sections-quem-somos-hero .hero-image .hero-image-icons .hero-image-icon {
        @apply
        absolute
    }

    .sections-quem-somos-hero .hero-image .hero-image-icons .hero-image-icon:nth-child(1) {
        @apply
        top-8 right-8
    }

    .sections-quem-somos-hero .hero-image .hero-image-icons .hero-image-icon:nth-child(2) {
        @apply
        top-28 left-0
    }

    .sections-quem-somos-hero .hero-image .hero-image-icons .hero-image-icon:nth-child(3) {
        @apply
        bottom-3 right-20
    }

    /* O Que Fazemos - Quem Somos */

    .sections-quem-somos-o-que-fazemos {
        @apply
        p-section-top overflow-hidden
    }

    .sections-quem-somos-o-que-fazemos .carrossel-o-que-significa {
        @apply
        relative overflow-hidden
        rounded-4xl
        bg-neutro-principal
        flex lg:flex-row flex-col gap-10
        py-14 lg:px-10 md:px-8 px-6
    }

    .sections-quem-somos-o-que-fazemos .carrossel-o-que-significa .left {
        @apply
        lg:w-3/12 w-full
        relative
    }

    .sections-quem-somos-o-que-fazemos .carrossel-o-que-significa .right {
        @apply
        lg:w-9/12 w-full
    }

    /* Produtores e Empresas - Quem Somos */

    .sections-quem-somos-produtores-e-empresas {
        @apply
        p-section-top
    }

    /* Comitê Técnico Consultivo - Quem Somos */

    .sections-quem-somos-ct-consultivo .section-content  {
        @apply
        w-full p-section-top
        bg-primario-variacao-5
        rounded-4xl
    }

    /* Hero - Protocolos e Selos */

    .sections-protocolos-selos-hero {
        @apply
        relative
        bg-primario-variacao-5
        pt-36 pb-24 md:rounded-b-[80px] sm:rounded-b-[64px] rounded-b-[48px]
        flex items-center justify-center relative overflow-hidden
    }

    .sections-protocolos-selos-hero .hero-content {
        @apply
        flex flex-col justify-between items-center
        w-full max-w-[760px] mx-auto md:pt-16 sm-plus:pt-10 xs:pt-6 pt-0 z-10 relative
    }

    .sections-protocolos-selos-hero .hero-content .titulo h1 {
        @apply
        lg:text-5xl/[56px] xxs:text-4xl/[48px] text-3xl/[40px] text-center text-neutro-branco
        flex flex-col items-center mb-6
        lg-plus:max-w-[724px] max-w-[660px]
    }

    .sections-protocolos-selos-hero .hero-content .titulo h1 .destaque {
        @apply
        text-limao-variacao-1
    }

    .sections-protocolos-selos-hero .hero-content .content-text {
        @apply
        text-center text-neutro-branco
    }

    .sections-protocolos-selos-hero .hero-bg-image {
        @apply
        absolute top-0 left-0 w-full h-full z-0
    }

    .sections-protocolos-selos-hero .hero-bg-image img {
        @apply
        w-full h-full object-cover object-center
    }

    .sections-protocolos-selos-hero .hero-bg-image::before {
        @apply
        content-[''] absolute top-0 left-0 w-full h-full z-10
        bg-primario-variacao-5/80
    }

    /* Critérios - Protocolos e Selos */

    .sections-protocolos-selos-criterios {
        @apply
        p-section-top
    }

    .sections-protocolos-selos-metodo {
        @apply
        p-section-top
    }

    /* Comunicação - Protocolos e Selos */

    .sections-protocolos-selos-comunicacao {
        @apply
        p-section-top
    }

    .sections-protocolos-selos-comunicacao-content {
        @apply
        w-full md:px-10 xxs:px-6 px-4 p-section
        bg-primario-variacao-5
        rounded-4xl
    }

    /* CTA - Protocolos e Selos */

    .sections-protocolos-selos-cta {
        @apply
        p-section-top
    }

    .sections-protocolos-selos-cta .content-text h2 {
        @apply
        lg:text-5xl/[56px] xxs:text-4xl/[48px] text-3xl/[40px] 
        max-w-[1220px] mx-auto
    }

    .sections-protocolos-selos-cta .content-text h2 .destaque {
        @apply
        text-primario-principal
    }
    
    /* Auditorias - Protocolos e Selos */

    .sections-protocolos-selos-auditorias {
        @apply
        p-section-top
    }

    /* Protocolos - Protocolos e Selos */

    .sections-protocolos-selos-protocolos {
        @apply
        p-section
    }

    .sections-protocolos-selos-protocolos-content {
        @apply
        w-full p-section
        bg-neutro-principal
        rounded-4xl
    }

    /* Hero - CPT Protocolo */

    .sections-cpt-protocolo-hero,
    .sections-cpt-protocolo-hero-em-breve {
        @apply
        relative
        bg-primario-variacao-5
        lg:pt-48 xs:pt-44 pt-36 p-section-bottom md:rounded-b-[80px] sm:rounded-b-[64px] rounded-b-[48px]
        flex items-center justify-center relative overflow-hidden
    }

    .sections-cpt-protocolo-hero-em-breve {
        @apply
        rounded-b-none
        pb-48 -mb-24
    }

    .sections-cpt-protocolo-hero .hero-header,
    .sections-cpt-protocolo-hero-em-breve .hero-header {
        @apply
        relative
        flex flex-row md:items-center items-start md:gap-20 sm:gap-10 gap-4
        max-w-5xl mx-auto w-full
    }

    .sections-cpt-protocolo-hero .hero-header-icon,
    .sections-cpt-protocolo-hero-em-breve .hero-header-icon {
        @apply
        relative
        sm:block hidden
    }

    .sections-cpt-protocolo-hero .hero-header-icon .hero-header-icon-logo,
    .sections-cpt-protocolo-hero-em-breve .hero-header-icon .hero-header-icon-logo {
        @apply
        w-auto min-h-[224px] max-h-[224px]
    }

    .sections-cpt-protocolo-hero .hero-header-icon .iconpdb,
    .sections-cpt-protocolo-hero-em-breve .hero-header-icon .iconpdb {
        @apply
        absolute
        bottom-[58px] right-[47px] z-10
        fill-limao-variacao-1
    }

    .sections-cpt-protocolo-hero .content-text,
    .sections-cpt-protocolo-hero-em-breve .content-text {
        @apply
        space-y-6
    }

    .sections-cpt-protocolo-hero .hero-destaque,
    .sections-cpt-protocolo-hero-em-breve .hero-destaque {
        @apply
        flex flex-col items-start justify-between gap-6
        lg:px-10 md:px-8 px-6 py-10 outline-2 outline outline-secundario-principal
        rounded-3xl
    }

    .sections-cpt-protocolo-hero .hero-destaque .content-text h3,
    .sections-cpt-protocolo-hero-em-breve .hero-destaque .content-text h3 {
        @apply
        text-2xl
    }

    .sections-cpt-protocolo-hero .cta-2-hero .content-text {
        @apply
        space-y-0
    }

    /* Protocolo - CPT Protocolo */

    .sections-cpt-protocolo-protocolo {
        @apply
        p-section-top
    }

    /* Apendice BCC e ECC - CPT Protocolo */

    .sections-cpt-protocolo-apendice-bcc-ecc {
        @apply
        p-section-top
    }

    .sections-cpt-protocolo-apendice-bcc-ecc-content {
        @apply
        w-full p-section lg:px-10 md:px-8 px-6
        bg-primario-variacao-5
        rounded-4xl 
        flex flex-row items-start justify-between gap-10
    }

    .sections-cpt-protocolo-apendice-bcc-ecc-content .content-left {
        @apply
        w-full max-w-[400px]
    }

    .sections-cpt-protocolo-apendice-bcc-ecc-content .content-right {
        @apply
        w-full
    }

    /* CTA 1- Global */

    .template-parts-globals-cta-1 .content-cta .content-text {
        @apply
        max-w-full
    }

    /* Hero - Certificações */

    .sections-certificacoes-hero {
        @apply
        relative
        bg-primario-variacao-5
        lg:pt-48 xs:pt-44 pt-36 sm:pb-24 sm-plus:pb-56 pb-40 md:rounded-b-[80px] sm:rounded-b-[64px] rounded-b-[48px]
        flex items-center justify-center relative overflow-hidden
    }

    .sections-certificacoes-hero .hero-content {
        @apply
        relative z-10
        flex flex-col items-center space-y-6
        w-full lg:max-w-[776px] sm:max-w-[586px] max-w-[420px] mx-auto
    }

    .sections-certificacoes-hero .hero-content .titulo h1 {
        @apply
        lg:text-5xl/[56px] xxs:text-4xl/[48px] text-3xl/[40px] text-center text-neutro-branco
        flex flex-col items-center
    }

    .sections-certificacoes-hero .hero-content .titulo h1 .destaque {
        @apply
        text-limao-variacao-1
    }

    .sections-certificacoes-hero .hero-content .content-text {
        @apply
        text-center text-neutro-branco
    }

    .sections-certificacoes-hero .hero-ilustracoes {
        @apply
        absolute -bottom-10 -left-20 -right-20 z-0 gap-10
        flex flex-row justify-between
    }

    .sections-certificacoes-hero .hero-ilustracoes .hero-ilustracao {
        @apply
        w-full h-auto lg:max-w-[408px] md:max-w-[328px] sm:max-w-[288px] sm-plus:max-w-[328px] max-w-[268px]
    }

    /* Método - Certificações */

    .sections-certificacoes-metodo {
        @apply
        p-section-top
    }

    /* Níveis - Certificações */

    .sections-certificacoes-niveis {
        @apply
        p-section-top
    }

    /* Certificações - Certificações */

    .sections-certificacoes-certificacoes {
        @apply
        p-section-top
    }

    .sections-certificacoes-certificacoes-content {
        @apply
        w-full p-section
        bg-primario-variacao-5
        rounded-4xl
    }

    /* Como Obter - Certificações */

    .sections-certificacoes-como-obter {
        @apply
        p-section-top
    }

    /* Hero - Fale Conosco */

    .sections-fale-conosco-hero {
        @apply
        relative
        md:pt-48 xs:pt-44 pt-36 pb-10
    }

    .sections-fale-conosco-hero .content-text h1 {
        @apply
        mb-6
    }

    /* Form - Fale Conosco */

    .sections-fale-conosco-form {
        @apply
        p-section-bottom
    }

    /* Critérios - Modal Critérios */

    
}