@layer components {
    /* Swiper */

    .swiper-o-que-fazemos {
        @apply
        w-full
        overflow-visible
    }

    .swiper-o-que-fazemos .swiper-slide {
        @apply
        h-auto
        relative
    }

    .swiper-o-que-fazemos .swiper-slide:nth-child(1) {
        @apply
        z-[7]
    }

    .swiper-o-que-fazemos .swiper-slide:nth-child(2) {
        @apply
        z-[6]
    }

    .swiper-o-que-fazemos .swiper-slide:nth-child(3) {
        @apply
        z-[5]
    }

    .swiper-o-que-fazemos .swiper-slide:nth-child(4) {
        @apply
        z-[4]
    }

    .swiper-o-que-fazemos .swiper-slide:nth-child(5) {
        @apply
        z-[3]
    }

    .swiper-o-que-fazemos .swiper-slide:nth-child(6) {
        @apply
        z-[2]
    }

    .swiper-o-que-fazemos .swiper-slide:nth-child(7) {
        @apply
        z-[1]
    }
    
    .swiper-o-que-fazemos .swiper-slide:first-child .card-primary .card-primary-icon .card-primary-connection.connection-left {
        @apply
        hidden
    }
    
    .swiper-o-que-fazemos .swiper-slide:last-child .card-primary .card-primary-icon .card-primary-connection.connection-right {
        @apply
        hidden
    }

    .swiper-o-que-fazemos .swiper-slide:first-child .card-primary-connection-line {
        @apply
        md:left-36 left-32
    }

    .swiper-o-que-fazemos .swiper-slide:last-child .card-primary .card-primary-connection-line {
        @apply
        hidden
    }

    /* Swiper O Que Significa */

    .carrossel-o-que-significa .progress-carrossel {
        @apply
        lg:absolute relative 
        lg:mt-0 mt-6
        bottom-0 left-0 w-full h-1 top-[auto]
        bg-neutro-variacao-1
        rounded-full overflow-hidden
        z-10
    }

    .carrossel-o-que-significa .group-swiper-navigation-progressbar {
        @apply
        flex flex-row items-center justify-between sm:gap-10 gap-6
    }

    .carrossel-o-que-significa .progress-carrossel .swiper-pagination-progressbar-fill {
        @apply
        bg-primario-principal
        rounded-full
    }

    .swiper-o-que-significa .swiper-slide {
        @apply
        w-full h-auto
    }

    /* Swiper Cards Rotate */

    .swiper-cards-rotate {
        @apply
        w-full h-auto
        overflow-visible
        lg-plus:min-h-[420px] min-h-[360px];
        contain: layout;
    }

    .swiper-cards-rotate .swiper-slide {
        will-change: transform;
        backface-visibility: hidden;
    }

    .swiper-cards-rotate .swiper-slide:nth-child(4n+1) {
        @apply rotate-[3deg] top-0;
    }

    .swiper-cards-rotate .swiper-slide:nth-child(4n+2) {
        @apply rotate-[-5deg] top-5;
    }

    .swiper-cards-rotate .swiper-slide:nth-child(4n+3) {
        @apply rotate-[4deg] top-0;
    }

    .swiper-cards-rotate .swiper-slide:nth-child(4n+4) {
        @apply rotate-[-3deg] top-5;
    }

}