@layer utilities {
    .p-section-top {
        @apply
        xs-plus:pt-20 pt-16
    }

    .p-section-bottom {
        @apply
        xs-plus:pb-20 pb-16
    }

    .p-section {
        @apply
        xs-plus:py-20 py-16
    }

    .container {
        @apply
        lg:px-10 md:px-8 px-6
    }
}