@layer components {
    /* Footer */
    .site-footer {
        @apply
        bg-neutro-preto md:rounded-t-[80px] sm:rounded-t-[64px] rounded-t-[48px]
        relative z-10
    }

    .site-footer .content-footer,
    .site-footer .content-copyright {
        @apply
        lg:px-10 md:px-8 xxs:px-6 px-4 sm:pt-10 sm:pb-10 pb-6 xxs:pt-6 pt-4
    }

    .site-footer .content-footer {
        @apply
        border-b border-neutro-variacao-5
    }

    .site-footer .content-footer .content-footer-left {
        @apply
        flex flex-col items-start
        w-full
        text-neutro-variacao-2
    }

    .site-footer .content-footer .content-footer-logo {
        @apply
        mb-10
    }

    .site-footer .content-footer .content-footer-logo svg {
        @apply
        w-auto h-auto min-h-12
    }

    .site-footer .content-footer .content-footer-left .content-info {
        @apply
        flex flex-row items-start gap-10 sm:flex-nowrap flex-wrap
        w-full mb-10
    }

    .site-footer .content-footer .content-footer-left .content-info h3 {
        @apply
        text-base font-sans font-semibold
    }

    .site-footer .content-footer .content-footer-left .content-info .content-redes-sociais h3 {
        @apply
        mb-3
    }

    .site-footer .content-footer .content-footer-left .content-info .content-redes-sociais .content-redes-sociais-list {
        @apply
        flex flex-row items-center gap-2
    }

    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato {
        @apply
        flex flex-col items-start gap-6
    }

    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .endereco,
    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .email {
        @apply
        flex flex-row items-start gap-2
    }

    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .endereco .icon svg,
    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .email .icon svg {
        @apply
        fill-limao-variacao-1
    }

    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .endereco .content a,
    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .email .content a {
        @apply
        font-semibold hover:underline
    }

    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .endereco .content a {
        @apply
        flex flex-col gap-0 items-start
    }

    .site-footer .content-footer .content-footer-left .content-info .content-endereco-contato .email {
        @apply
        items-center
    }

    .site-footer .content-copyright {
        @apply
        text-sm font-semibold text-neutro-variacao-3
    }

    .site-footer .content-footer .content-footer-left .content-menu {
        @apply
        mb-6
    }

    .site-footer .content-footer .content-footer-left .content-menu ul {
        @apply
        flex flex-row items-center gap-y-2 sm:gap-x-8 gap-x-2 sm:flex-nowrap flex-wrap
    }

    .site-footer .content-footer .content-footer-left .content-menu ul > li > a {
        @apply
        inline-flex
        font-semibold hover:underline text-nowrap
        sm:px-0 sm:py-0 py-1 px-3
        sm:bg-transparent bg-neutro-branco/[0.08]
        sm:rounded-none rounded-full
    }

    .site-footer .content-footer .content-footer-newsletter {
        @apply
        w-full h-full 
        bg-neutro-variacao-6 rounded-4xl
        py-8 sm:px-8 px-6 flex flex-col items-start justify-center gap-3
    }

    .site-footer .content-footer .content-footer-newsletter .content-footer-newsletter-title {
        @apply
        flex flex-row items-start gap-4
    }

    .site-footer .content-footer .content-footer-newsletter .content-footer-newsletter-title h3 {
        @apply
        text-base text-neutro-branco
    }

    .site-footer .content-footer .content-footer-newsletter .content-footer-newsletter-form {
        @apply
        w-full
    }

    .site-footer .content-footer .content-footer-newsletter .content-footer-newsletter-form-wrapper {
        @apply
        w-full
        flex flex-col items-start justify-start gap-3
    }

    .site-footer .content-footer .content-footer-newsletter .content-footer-newsletter-form-wrapper .btn {
        @apply
        w-full
    }

    .site-footer .content-footer .content-footer-newsletter .content-footer-newsletter-disclaimer {
        @apply
        text-sm text-neutro-variacao-2
    }
}