@layer components {
    /* ========================================
       Card Components
       ======================================== */

    /* Card Primary */
    .card-primary {
        @apply
        bg-primario-variacao-5
        rounded-4xl
        flex flex-col justify-between
        w-full h-full
    }

    .card-primary .card-primary-icon {
        @apply
        md:pl-8 pl-6 py-8
        flex flex-row justify-start
        w-full relative z-10
    }

    .card-primary-connection {
        @apply
        flex;
    }

    .card-primary-connection.connection-left,
    .card-primary-connection.connection-right {
        @apply
        flex flex-col py-6;
    }

    .card-primary-connection .fill {
        @apply
        w-full h-full
        bg-secundario-principal
    }

    .card-primary-connection .rounded-inverted {
        @apply
        w-4 h-4 min-w-4 min-h-4 overflow-hidden relative
        bg-secundario-principal
    }

    .card-primary-connection .rounded-inverted:before {
        @apply
        content-[''] absolute bottom-0 right-0 w-full h-full
        w-8 h-8 min-w-8 min-h-8 rounded-full
        bg-primario-variacao-5
    }

    .card-primary-connection .rounded-inverted.rounded-inverted--2 {
        @apply
        -rotate-90
    }

    .card-primary-connection.connection-right {
        @apply
        -scale-x-100
    }

    .card-primary .card-primary-text {
        @apply
        md:px-8 px-6 pb-8
    }

    .card-primary .card-primary-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .card-primary-connection-line {
        @apply
        absolute top-1/2 -translate-y-1/2 md:left-40 left-36 md:-right-18 xxs:-right-16 -right-14 h-4
        bg-secundario-principal
    }

    /* Card Secondary */
    .card-secondary {
        @apply
        border-2 border-neutro-variacao-1
        sm:px-10 px-6 xs-plus:py-10 py-8 rounded-4xl
        flex flex-col justify-between
        w-full h-full
    }

    .card-secondary .card-secondary-titulo h4 {
        @apply
        xl:text-5xl sm:text-4xl xs-plus:text-2xl text-xl text-primario-principal
    }

    .card-secondary .card-secondary-conteudo {
        @apply
        sm:pt-10 pt-6
    }

    .card-secondary .card-secondary-conteudo a {
        @apply
        text-primario-principal font-semibold underline hover:text-primario-variacao-3 transition-all duration-300
    }

    .card-secondary .card-secondary-conteudo.content-text p {
        @apply
        md:text-lg xs-plus:text-base text-sm
    }

    /* Card People */
    .card-people {
        @apply
        flex sm:flex-col flex-row items-center sm:justify-center justify-start
        gap-4
    }

    .card-people .image {
        @apply
        w-auto h-auto 
        xxs:min-w-20 xxs:min-h-20 xxs:max-w-20 xxs:max-h-20
        min-w-16 min-h-16 max-w-16 max-h-16
        rounded-full overflow-hidden
        aspect-square
    }

    .card-people .image img {
        @apply
        w-full h-full object-cover object-center
    }

    .card-people .text {
        @apply
        text-neutro-branco sm:text-center text-left
        flex flex-col sm:items-center items-start justify-center gap-1
    }

    .card-people .text h4 {
        @apply
        text-xl
    }

    .card-people .text p {
        @apply
        text-base text-neutro-variacao-2
    }

    /* Card Protocol */
    .card-protocol {
        @apply
        w-full h-full
        flex flex-col justify-start
        bg-primario-variacao-4
        rounded-3xl
        relative overflow-hidden
    }

    .card-protocol .card-protocol-header {
        @apply
        flex flex-row items-center justify-start
        p-6 gap-4
    }

    .card-protocol .card-protocol-list-wrapper {
        @apply
        max-h-[298px] overflow-hidden h-full
    }

    .card-protocol .card-protocol-list {
        @apply
        pb-6
        flex flex-col gap-3
        w-full
    }

    .card-protocol .card-protocol-list-item {
        @apply
        flex
        w-full
        px-6 pb-3
        border-b-2 border-limao-variacao-1
        text-neutro-branco
        xxs:text-base text-sm

        first:pt-0 last:pb-0 last:border-b-0
    }

    .card-protocol .card-protocol-more {
        @apply
        p-6 pt-14 pointer-events-none
        hidden items-center justify-center
        w-full
        absolute bottom-0 left-0 z-10
        bg-gradient-to-t from-primario-variacao-4 to-transparent
    }

    .card-protocol .card-protocol-more button {
        @apply
        pointer-events-auto
    }

    .card-protocol .card-protocol-more-active {
        @apply
        flex
    }

    .card-protocol.card-protocol-expanded .card-protocol-list-wrapper {
        @apply
        max-h-full
    }

    .card-protocol.card-protocol-expanded .card-protocol-list {
        @apply
        pb-20
    }

    .card-protocol.card-protocol-expanded .card-protocol-more {
        @apply
        bg-gradient-to-t from-primario-variacao-4/0 to-transparent
    }

    /* Card Rotate */
    .card-rotate {
        @apply
        w-full lg-plus:min-h-[420px] min-h-[360px] h-full
        rounded-4xl
        outline-2 -outline-offset-2 outline outline-secundario-principal
        bg-neutro-branco
        py-10 sm:px-10 px-6
        flex flex-col items-start justify-between gap-10
    }

    .card-rotate.card-rotate-cta {
        @apply
        outline-none
        bg-limao-variacao-1
        items-end
    }

    .card-rotate.card-rotate-cta .content-button {
        @apply
        relative
        min-w-36 min-h-36
        max-w-36 max-h-36
    }

    .card-rotate.card-rotate-cta .content-button .btn-cta-icon {
        @apply
        absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
        w-16 h-16
        *:fill-limao-variacao-1
    }

    .card-rotate.card-rotate-cta .content-button .btn-cta-base {
        @apply
        w-full h-full
        *:fill-primario-variacao-1
    }

    .card-rotate.card-rotate-cta .content-text h3 {
        @apply
        text-4xl
    }

    .card-rotate.card-rotate-2 {
        @apply
        bg-limao-variacao-1 outline-limao-variacao-1
    }

    .card-rotate.card-rotate-3 {
        @apply
        bg-primario-principal outline-primario-principal
    }

    .card-rotate.card-rotate-4 {
        @apply
        bg-neutro-principal outline-neutro-principal
    }

    .card-rotate .content-text h3 {
        @apply
        text-2xl
    }

    .card-rotate.card-rotate-3 .content-text h3 {
        @apply
        text-neutro-branco
    }

    .card-rotate.card-rotate-reverse {
        @apply
        flex-col-reverse
    }

    /* Card Nivel Certificação */
    .card-nivel-certificacao {
        @apply
        flex flex-col items-center justify-start
        outline-2 -outline-offset-2 outline outline-secundario-principal
        rounded-4xl
        w-full h-full
    }

    .card-nivel-certificacao .card-nivel-certificacao-header {
        @apply
        w-full
        p-3 pb-6
    }

    .card-nivel-certificacao .card-nivel-certificacao-header .tag-1 {
        @apply
        w-full
    }

    .card-nivel-certificacao .card-nivel-certificacao-selo img {
        @apply
        w-auto h-auto min-h-[200px] max-h-[200px]
    }

    .card-nivel-certificacao .card-nivel-certificacao-content {
        @apply
        w-full h-full
        p-6 pt-0 space-y-6
        flex flex-col items-center justify-start
    }

    /* Card Image 1 */
    .card-image-1 {
        @apply
        relative z-10 w-full h-full
        bg-limao-variacao-1
        rounded-3xl overflow-hidden
        shadow-xl shadow-primario-variacao-5/30
        flex flex-col justify-between
    }

    .card-image-1 .content-image {
        @apply
        w-full h-[220px] min-h-[220px]
        rounded-b-3xl overflow-hidden
    }

    .card-image-1 .content-image img {
        @apply
        w-full h-full object-cover object-center scale-[101%]
    }

    .card-image-1 .content-text {
        @apply
        p-6 w-full h-full
        flex justify-center items-center
    }

    .card-image-1 .content-text h3 {
        @apply
        text-2xl
    }

    /* Cards Connection 1 */
    .cards-connection-1 {
        @apply
        flex items-stretch
    }

    .cards-connection-1 .card-connection-1 {
        @apply
        min-w-8 
        lg-plus:my-5 my-0 
        lg-plus:mx-0 mx-5
        bg-limao-variacao-1
        lg-plus:min-h-[auto] min-h-8
        relative
    }

    .cards-connection-1 .card-connection-1 .rounded-item {
        @apply
        w-8 h-8 min-w-8 min-h-8 bg-primario-variacao-5 rounded-full
    }

    .cards-connection-1 .card-connection-1 .rounded-top {
        @apply
        absolute 
        lg-plus:-top-4 top-0 
        lg-plus:left-0 -left-4 
        w-full
    }

    .cards-connection-1 .card-connection-1 .rounded-bottom {
        @apply
        absolute 
        lg-plus:-bottom-4 bottom-0
        lg-plus:left-0 left-[inherit] 
        lg-plus:right-[inherit] -right-5
        lg-plus:w-full w-auto
    }

    /* Card Protocolo Nivel */
    .card-protocol-nivel {
        @apply
        flex flex-col items-center
        rounded-4xl bg-neutro-principal
        w-full h-auto
    }

    .card-protocol-nivel-header {
        @apply
        w-full
        p-3 pb-6
    }

    .card-protocol-nivel-header .tag-1 {
        @apply
        w-full
    }

    .card-protocol-nivel-selo {
        @apply
        w-full
        p-3 pb-6
        flex items-center justify-center
    }

    .card-protocol-nivel-selo img {
        @apply
        w-auto h-auto min-h-[200px] max-h-[200px]
    }

    .card-protocol-nivel-lista {
        @apply
        w-full
        flex flex-col
    }

    .card-protocol-nivel-lista li {
        @apply
        flex flex-col
        px-4 py-3
        border-b border-neutro-variacao-1
        first:border-t
    }

    .card-protocol-nivel-lista-tag {
        @apply
        text-neutro-variacao-5
        text-xs uppercase
    }

    .card-protocol-nivel-lista-texto {
        @apply
        font-semibold
    }

    .card-protocol-nivel-atributos {
        @apply
        w-full
        flex flex-col space-y-3
        px-3 py-3
    }

    .card-protocol-nivel-atributos-item {
        @apply
        w-full
        flex flex-row items-start justify-start space-x-4
        bg-primario-principal
        rounded-3xl
        p-6
    }

    .card-protocol-nivel-atributos-item.card-protocol-nivel-atributos-item-2 {
        @apply
        bg-primario-variacao-2
    }

    .card-protocol-nivel-atributos-item.card-protocol-nivel-atributos-item-3 {
        @apply
        bg-primario-variacao-3
    }

    .card-protocol-nivel-atributos-item.card-protocol-nivel-atributos-item-4 {
        @apply
        bg-primario-variacao-4
    }

    .card-protocol-nivel-atributos-item svg {
        @apply
        fill-limao-variacao-1
    }

    .card-protocol-nivel-atributos-lista {
        @apply
        w-full
        flex flex-col space-y-2
    }

    .card-protocol-nivel-atributos-lista li {
        @apply
        text-neutro-branco
        flex flex-col items-start justify-start
    }

    .card-protocol-nivel-atributos-lista li .card-protocol-nivel-atributos-lista-texto {
        @apply
        text-sm font-semibold
    }

    .card-protocol-nivel-atributos-lista li .card-protocol-nivel-atributos-lista-descricao {
        @apply
        text-xs font-regular
    }

    /* Card Link Protocolo */
    .card-protocolo-link {
        @apply
        w-full h-full
        xxs:px-6 px-4 sm:py-8 py-6 border-2 border-secundario-principal rounded-3xl
        flex items-center justify-between gap-6
        transition-all duration-300
    }

    .card-protocolo-link-title {
        @apply
        sm:text-2xl text-xl font-semibold
    }

    .protocolo-link-card-btn {
        @apply
        w-12 h-12 min-w-12 min-h-12
        flex items-center justify-center
        rounded-full bg-limao-variacao-1
    }

    .protocolo-link-card-btn svg {
        @apply
        w-6 h-6 min-w-6 min-h-6
        fill-primario-variacao-3
    }

    .card-protocolo-link:hover {
        @apply
        bg-primario-variacao-5
        border-primario-variacao-5
    }

    .card-protocolo-link:hover .card-protocolo-link-title {
        @apply
        text-limao-variacao-1
    }

}
