@layer components {
    /* ========================================
       Content Components
       ======================================== */

    /* Content Image */
    .content-image {
        @apply
        w-full h-auto
    }

    .content-image.content-image--rounded-full {
        @apply
        rounded-full overflow-hidden
    }

    .content-image.content-image--square {
        @apply
        aspect-square overflow-hidden
    }

    .content-image.content-image--rounded-8xl {
        @apply
        lg:rounded-8xl md:rounded-6xl rounded-4xl overflow-hidden
    }

    /* Content Text */
    .content-text {
        @apply
        w-full
    }

    .content-text h2 {
        @apply
        mb-3
    }

    .content-text h3 {
        @apply
        mb-3
    }

    .content-text p {
        @apply
        mb-4 md:text-lg text-base
    }

    .content-text *:last-child {
        @apply
        mb-0
    }

    .content-text.content-text--light {
        @apply
        text-neutro-branco
    }

    .content-text a:not(.btn):not(.btn-cta):not(.btn-cta-icon):not(btn) {
        @apply
        text-primario-principal
        underline
    }

    .content-text ul {
        @apply
        list-disc mb-4 pl-5
    }

    .content-text ul li {
        @apply
        md:text-lg text-base
    }

    .context-text ul li::marker {
        @apply
        text-secundario-principal
    }

    .content-text.content-text--small p {
        @apply
        text-sm
    }

    .content-text.content-text--large p {
        @apply
        text-xl
    }

    /* Content Icon */
    .content-icon {
        @apply
        min-h-16 min-w-16 rounded-2xl bg-neutro-variacao-1
        inline-flex items-center justify-center
    }

    .content-icon.content-icon--large {
        @apply
        sm:min-h-20 sm:min-w-20 min-h-16 min-w-16 sm:rounded-3xl rounded-2xl
    }

    .content-icon.content-icon--bigger {
        @apply
        min-h-24 min-w-24 rounded-3xl
    }

    .content-icon svg {
        @apply
        min-w-8 min-h-8
    }

    .content-icon.content-icon--bigger svg {
        @apply
        min-w-10 min-h-10
    }

    .content-icon.content-icon--primario {
        @apply
        bg-primario-variacao-3
    }

    .content-icon.content-icon--primario svg {
        @apply
        fill-limao-variacao-1
    }

    .content-icon.content-icon--secundario {
        @apply
        bg-limao-variacao-1
    }

    .content-icon.content-icon--secundario svg {
        @apply
        fill-primario-variacao-3
    }

    .content-icon.content-icon--danger {
        @apply
        bg-danger-principal
    }

    .content-icon.content-icon--danger svg {
        @apply
        fill-neutro-branco
    }

    /* Content Group Image Icon Floating */
    .content-group-image-icon-floating {
        @apply
        relative
    }

    .content-group-image-icon-floating .content-icon {
        @apply
        absolute xl:bottom-20 xl:-left-10 sm:left-10 sm:bottom-10 left-6 bottom-6
    }
    
}
