@layer components {
    /* ========================================
       CTA Components
       ======================================== */

    .cta-1 {
        @apply
        p-section
    }

    .cta-1 .content-cta {
        @apply
        w-full max-w-[800px]
        flex xs-plus:flex-row flex-col xs-plus:items-center items-center justify-center xs:gap-14 xs-plus:gap-8 gap-4
    }

    .cta-1 .content-cta .content-text {
        @apply
        max-w-[440px]
    }

    .cta-1 .content-cta .content-text h2 {
        @apply
        md:text-5xl sm-plus:text-4xl text-3xl leading-tight xs-plus:text-left text-center
    }

    .cta-1 .content-text h2 .destaque {
        @apply
        text-primario-principal
    }

    .cta-1 .content-button {
        @apply
        relative
        md:min-w-52 sm-plus:min-w-48 xs:min-w-36 xs-plus:min-w-28 min-w-20 xs-plus:max-w-full max-w-36
        md:min-h-52 sm-plus:min-h-48 xs:min-h-36 xs-plus:min-h-28 min-h-20 xs-plus:max-h-full max-h-36
    }

    .cta-1 .content-button .btn-cta-base {
        @apply
        w-full h-auto
    }

    .cta-1 .content-button .btn-cta-icon {
        @apply
        absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
        sm-plus:w-16 sm-plus:h-16 
        xs:w-10 xs:h-10 
        xs-plus:w-8 xs-plus:h-8 
        w-10 h-10
    }

    .cta-1.cta-1--style-2 {
        @apply
        relative
        bg-primario-variacao-3
    }

    .cta-1.cta-1--style-2 .content-cta .content-text h2 {
        @apply
        text-neutro-branco
    }

    .cta-1.cta-1--style-2 .content-cta .content-text h2 .destaque {
        @apply
        text-limao-variacao-1
    }

    /* CTA 2 */

    .cta-2 {
        @apply
        w-full
        flex sm:flex-row flex-col sm:items-center items-start justify-between sm:gap-10 xxs:gap-2 gap-3
        bg-limao-variacao-1 sm:px-6 px-4 sm:py-6 py-5
        sm:rounded-t-3xl sm:rounded-b-3xl
        rounded-t-2xl rounded-b-none
    }

    .cta-2-hero .cta-2 {
        @apply
        sm:rounded-3xl rounded-2xl
    }

    .cta-2 .content-left {
        @apply
        flex items-center justify-center gap-6
    }

    .cta-2 .content-left .content-icon {
        @apply
        sm:flex hidden
    }

    .cta-2 .content-left .content-text > * {
        @apply
        mb-0
    }

    .cta-2 .content-left .content-text .content-text-title {
        @apply
        lg:text-2xl xxs:text-xl text-lg
    }

    .cta-2 .content-left .content-text .content-text-description {
        @apply
        lg:text-base xxs:text-sm text-xs
    }

    /* CTA 2 Fixed (para animação de scroll) */
    .cta-2-fixed {
        @apply
        fixed sm:bottom-6 bottom-0 left-0 right-0
        z-40
        pointer-events-none
    }

    .cta-2-fixed .cta-2 {
        @apply
        pointer-events-auto
        shadow-2xl
    }

    /* CTA 1- Global */

    .template-parts-globals-cta-1 .content-cta .content-text {
        @apply
        max-w-full
    }

}
