@layer components {
    /* Hero custom - 1 */

    .section-hero-custom-1 {
        @apply
        relative
        bg-primario-variacao-5
        pt-36 pb-24 md:rounded-b-[80px] sm:rounded-b-[64px] rounded-b-[48px]
        flex items-center justify-center relative overflow-hidden
    }

    .section-hero-custom-1 .hero-content {
        @apply
        flex flex-col justify-between items-center
        w-full mx-auto md:pt-16 sm-plus:pt-10 xs:pt-6 pt-0 z-10 relative
        max-w-[1024px]
    }

    .section-hero-custom-1 .hero-content .titulo h1 {
        @apply
        lg:text-5xl/[56px] xxs:text-4xl/[48px] text-3xl/[40px] text-center text-neutro-branco
        flex flex-col items-center mb-6
        max-w-[1024px]
    }

    .section-hero-custom-1 .hero-content .titulo h1 .destaque {
        @apply
        text-limao-variacao-1
    }

    .section-hero-custom-1 .hero-content .content-text {
        @apply
        text-center text-neutro-branco
    }

    .section-hero-custom-1 .hero-bg-image {
        @apply
        absolute top-0 left-0 w-full h-full z-0
    }

    .section-hero-custom-1 .hero-bg-image img {
        @apply
        w-full h-full object-cover object-center
    }

    .section-hero-custom-1 .hero-bg-image::before {
        @apply
        content-[''] absolute top-0 left-0 w-full h-full z-10
        bg-primario-variacao-5/80
    }

    /* Section Hero Custom - 2 */

    .section-hero-custom-2 {
        @apply
        relative
        md:pt-48 xs:pt-44 pt-36 pb-10
    }

    .section-hero-custom-2 .content-text h1 {
        @apply
        mb-6
    }
}