@layer components {
    /* ========================================
       List Components
       ======================================== */

    /* List Big Link Row */
    .list-big-link-row {
        @apply
        w-full
        flex flex-col items-start justify-start
    }

    .list-big-link-row-header {
        @apply
        lg:px-10 sm:px-8 xxs:px-6 px-4 p-section-top pb-10
        text-neutro-branco
    }

    .list-big-link-row ul {
        @apply
        w-full
        flex flex-col items-start justify-start
    }

    .list-big-link-row ul li {
        @apply
        w-full
        flex flex-col items-start justify-start
        relative
    }

    .list-big-link-row ul li:hover {
        @apply
        z-10
    }

    .list-big-link-row ul li a {
        @apply
        w-full relative
        flex lg:flex-row flex-row-reverse items-center lg:justify-start justify-end xs-plus:gap-6 gap-4
        text-neutro-branco
        lg:pl-10 lg:pr-10
        sm:pl-8 sm:pr-24
        xxs:pl-6 xxs:pr-20
        py-6 pl-4 pr-16
        border-t-2 border-secundario-principal
        transition-all duration-300
    }

    .list-big-link-row ul li:hover a {
        @apply
        bg-secundario-principal
    }

    .list-big-link-row ul li:last-child a {
        @apply
        border-b-2
    }

    .list-big-link-row ul li a h4 {
        @apply
        lg:text-5xl sm:text-4xl sm-plus:text-2xl text-xl font-semibold
        transition-all duration-300
    }

    .list-big-link-row ul li:hover a h4 {
        @apply
        text-primario-variacao-5
    }

    .list-big-link-row ul li a p {
        @apply
        xs-plus:text-base text-sm text-neutro-variacao-1
        transition-all duration-300
    }

    .list-big-link-row ul li:hover a p {
        @apply
        text-neutro-branco
    }

    .list-big-link-row ul li a .list-big-link-row-content {
        @apply
        flex flex-col items-start justify-start gap-1
    }

    .list-big-link-row ul li a .list-big-link-row-image {
        @apply
        pointer-events-none 
        lg:opacity-0 lg:scale-90 opacity-100 scale-100
        lg:absolute relative 
        lg:top-1/2 top-0 lg:right-10 right-0 lg:-translate-y-1/2 -translate-y-0 z-10
        aspect-square

        lg:min-w-[380px] lg:min-h-[380px] 
        sm-plus:min-w-[120px] sm-plus:min-h-[120px] 
        xs-plus:min-w-[100px] xs-plus:min-h-[100px]
        min-w-[64px] min-h-[64px]

        lg:max-w-[380px] lg:max-h-[380px] 
        sm-plus:max-w-[120px] sm-plus:max-h-[120px] 
        xs-plus:max-w-[100px] xs-plus:max-h-[100px]
        max-w-[64px] max-h-[64px]

        transition-all duration-300
        z-50
    }

    .list-big-link-row ul li a .list-big-link-row-cta-mobile {
        @apply
        lg:hidden block
        absolute top-1/2 md:right-8 xxs:right-6 right-4 -translate-y-1/2
        z-10
    }

    .list-big-link-row ul li:hover a .list-big-link-row-image {
        @apply
        opacity-100 scale-100
    }

    .list-big-link-row ul li a .list-big-link-row-image .foto {
        @apply
        w-full h-full
        rounded-full rounded-bl-none overflow-hidden
    }

    .list-big-link-row ul li a .list-big-link-row-image .foto img {
        @apply
        w-full h-full object-cover object-center
    }

    .list-big-link-row ul li a .list-big-link-row-image .produto img {
        @apply
        absolute top-1/2 
        lg:right-10 right-0
        -translate-y-1/2 z-10
        lg:scale-100 scale-105
    }

    .list-big-link-row ul li a .list-big-link-row-image .forma-pingo {
        @apply
        absolute top-0 left-0 w-full h-full
        bg-limao-variacao-1
        rounded-full rounded-bl-none
    }

    /* Relation */
    .relation {
        @apply
        flex items-center justify-start gap-4
        p-6 rounded-2xl bg-neutro-principal
    }

    .relation svg {
        @apply
        w-6 h-6 min-w-6 min-h-6
        *:fill-primario-principal
    }

    /* List Fontes */
    .list-fontes {
        @apply
        flex flex-col items-start justify-start gap-2
    }

    .list-fontes li {
        @apply
        flex flex-row items-center justify-start gap-2
    }

    .list-fontes li .number {
        @apply
        w-4 h-4 min-w-4 min-h-4
        bg-primario-principal
        rounded-full
        flex items-center justify-center
        text-neutro-branco text-xs font-semibold
    }

    .list-fontes li .text {
        @apply
        text-neutro-variacao-5 text-sm font-semibold
    }

    /* ========================================
       Criterios List
       ======================================== */

    .criterios-list {
        @apply
        flex flex-col items-start justify-start gap-4 p-3 bg-primario-principal rounded-4xl
    }

    .criterios-list-item {
        @apply
        flex items-center justify-between w-full p-3
        rounded-3xl bg-primario-variacao-1
        border-2 border-transparent hover:border-limao-variacao-1
        transition-all duration-300
        cursor-pointer
    }

    .criterios-list-item-wrapper {
        @apply
        w-full
    }

    .criterios-list-item-content-header {
        @apply
        flex xs:flex-row flex-col xs:items-center items-start justify-start gap-2 pr-6
    }

    .criterios-list-item-content-header-content {
        @apply
        flex items-center justify-start gap-2
    }
    
    .criterios-list-item-content-number {
        @apply
        flex flex-col items-center justify-center
        sm-plus:w-20 sm-plus:h-20 sm-plus:min-w-20 sm-plus:min-h-20
        w-16 h-16 min-w-16 min-h-16
        border-2 border-limao-variacao-1 text-limao-variacao-1
        rounded-2xl
        sm-plus:text-5xl text-4xl font-display font-semibold
    }

    .criterios-list-item-content-icon {
        @apply
        flex flex-col items-center justify-center
        sm-plus:w-20 sm-plus:h-20 sm-plus:min-w-20 sm-plus:min-h-20
        w-16 h-16 min-w-16 min-h-16
        bg-neutro-principal rounded-2xl
    }

    .criterios-list-item-content-icon svg {
        @apply
        sm-plus:w-8 sm-plus:h-8 sm-plus:min-w-8 sm-plus:min-h-8
        w-6 h-6 min-w-6 min-h-6
        *:fill-primario-variacao-3
    }

    .criterios-list-item-content-text {
        @apply
        flex flex-col items-start justify-start gap-1 pl-2
    }

    .criterios-list-item-content-title h3 {
        @apply
        sm-plus:text-xl text-lg font-semibold text-neutro-branco
    }

    .criterios-list-item-content-description {
        @apply
        text-sm text-neutro-variacao-1
    }

    .criterios-list-item-content-more {
        @apply
        inline-flex items-center justify-center
        p-2 rounded-full border-2 border-limao-variacao-1
        transition-all duration-300
    }

    .criterios-list-item-content-more svg {
        @apply
        w-6 h-6 min-w-6 min-h-6
        *:fill-neutro-branco
        *:transition-all *:duration-300
    }

    .criterios-list-item.criterios-list-item-destaque {
        @apply
        bg-limao-variacao-1 border-transparent
        hover:border-primario-variacao-3
    }

    .criterios-list-item.criterios-list-item-destaque .criterios-list-item-content-number {
        @apply
        border-primario-variacao-3 text-primario-variacao-3
    }

    .criterios-list-item.criterios-list-item-destaque .criterios-list-item-content-icon {
        @apply
        bg-primario-principal
    }

    .criterios-list-item.criterios-list-item-destaque .criterios-list-item-content-icon svg {
        @apply
        *:fill-limao-variacao-1
    }

    .criterios-list-item.criterios-list-item-destaque .criterios-list-item-content-title h3 {
        @apply
        text-primario-variacao-3
    }

    .criterios-list-item.criterios-list-item-destaque .criterios-list-item-content-description {
        @apply
        text-primario-variacao-3
    }

    .criterios-list-item.criterios-list-item-destaque .criterios-list-item-content-more {
        @apply
        border-0 bg-primario-variacao-3
    }

    .criterios-list-item.criterios-list-item-destaque .criterios-list-item-content-more svg {
        @apply
        *:fill-neutro-branco
    }

    .criterios-list-item:hover .criterios-list-item-content-more {
        @apply
        bg-limao-variacao-1
    }

    .criterios-list-item:hover .criterios-list-item-content-more svg {
        @apply
        *:fill-primario-variacao-3
    }

    .criterios-list-item.criterios-list-item-destaque:hover .criterios-list-item-content-more {
        @apply
        bg-primario-variacao-3
        transition-all duration-300
    }   
    
    .criterios-list-item.criterios-list-item-destaque:hover .criterios-list-item-content-more svg {
        @apply
        *:fill-neutro-branco
    }

    /* Lista de itens com ícones ou imagens */

    .lista-itens-icones-imagens {
        @apply
        w-full
        flex flex-col items-start justify-start space-y-3
    }

    .lista-itens-icones-imagens-item {
        @apply
        w-full
        flex xs:flex-row flex-col xs:items-center items-start justify-start
        bg-neutro-principal
        xs:pl-3 xs:py-3 xs:pr-10
        py-8 pl-6 pr-6 
        rounded-4xl
        xs:space-x-10 space-x-0
    }

    .lista-itens-icones-imagens-item-count {
        @apply
        flex flex-row items-stretch justify-start gap-3 lg:pr-20 md:pr-16 pr-0
    }

    .lista-itens-icones-imagens-item:nth-child(5n+2) .lista-itens-icones-imagens-item-count {
        @apply flex-row-reverse justify-end
    }

    .lista-itens-icones-imagens-item:nth-child(5n+5) .lista-itens-icones-imagens-item-count {
        @apply flex-row-reverse justify-end
    }

    .lista-itens-icones-imagens-item-count .number {
        @apply
        flex flex-col items-center justify-center gap-2
        lg:w-30 lg:h-30 lg:min-w-30 lg:min-h-30
        sm-plus:w-24 sm-plus:h-24 sm-plus:min-w-24 sm-plus:min-h-24
        w-20 h-20 min-w-20 min-h-20
        bg-primario-variacao-5 text-limao-variacao-1
        rounded-2xl
        lg:text-6xl text-4xl font-display font-semibold
    }

    /* Padrão de cores alternado a cada 5 itens */
    .lista-itens-icones-imagens-item:nth-child(5n+2) .lista-itens-icones-imagens-item-count .number {
        @apply
        bg-limao-variacao-1 text-primario-variacao-3
    }

    .lista-itens-icones-imagens-item:nth-child(5n+3) .lista-itens-icones-imagens-item-count .number {
        @apply
        bg-transparent text-primario-variacao-3
        outline-2 outline outline-secundario-principal
    }

    .lista-itens-icones-imagens-item:nth-child(5n+4) .lista-itens-icones-imagens-item-count .number {
        @apply
        bg-limao-variacao-1 text-primario-variacao-3
    }

    .lista-itens-icones-imagens-item:nth-child(5n+5) .lista-itens-icones-imagens-item-count .number {
        @apply
        bg-primario-principal text-limao-variacao-1
    }

    .lista-itens-icones-imagens-item-count .icon,
    .lista-itens-icones-imagens-item-count .image {
        @apply
        flex flex-col items-center justify-center
        lg:w-30 lg:h-30 lg:min-w-30 lg:min-h-30
        sm-plus:w-24 sm-plus:h-24 sm-plus:min-w-24 sm-plus:min-h-24
        w-20 h-20 min-w-20 min-h-20
        rounded-2xl overflow-hidden
    }

    .lista-itens-icones-imagens-item-count .icon {
        @apply
        bg-limao-variacao-1
    }

    .lista-itens-icones-imagens-item-count .icon svg {
        @apply
        lg:w-10 lg:h-10 lg:min-w-10 lg:min-h-10
        sm-plus:w-8 sm-plus:h-8 sm-plus:min-w-8 sm-plus:min-h-8
        w-6 h-6 min-w-6 min-h-6
        fill-primario-variacao-3
    }

    .lista-itens-icones-imagens-item:nth-child(5n+4) .lista-itens-icones-imagens-item-count .icon {
        @apply
        bg-primario-principal
    }

    .lista-itens-icones-imagens-item:nth-child(5n+4) .lista-itens-icones-imagens-item-count .icon svg {
        @apply
        fill-limao-variacao-1
    }

    .lista-itens-icones-imagens-item-count .image img {
        @apply
        w-full h-full object-cover object-center
    }

    .lista-itens-icones-imagens-item-content {
        @apply
        w-full h-full
        flex flex-col items-start justify-center
    }

    .lista-itens-icones-imagens-item-content .content-text {
        @apply
        w-full
        xs:pt-0 pb-0 pt-4
    }

    .lista-itens-icones-imagens-item-content .content-text h3 {
        @apply
        lg-plus:text-2xl text-xl
    }

    .lista-itens-icones-imagens-item-content .content-text a {
        @apply
        text-primario-principal hover:text-primario-variacao-3
        transition-all duration-300 underline
    }
}
