@layer components {
    /* ========================================
       Tabs
       ======================================== */

    .tabs {
        @apply
        flex items-center justify-center w-full
    }

    .tabs-wrapper {
        @apply
        w-full
        pt-6 mb-6
        bg-neutro-branco
        sticky top-0 z-10
    }

    .protocolo-tabs-fixed {
        @apply
        fixed top-0 left-0 right-0 w-full z-40
    }

    .tabs-items {
        @apply
        w-full
        border-b border-neutro-variacao-1
        xxs:px-6 px-4 flex flex-row items-stretch justify-start gap-3
        overflow-x-auto;

        /* Esconde scrollbar mantendo funcionalidade */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE e Edge */
    }

    .tabs-items::-webkit-scrollbar {
        display: none; /* Chrome, Safari e Opera */
    }

    .tab-button {
        @apply
        p-4 bg-neutro-principal rounded-t-2xl font-semibold text-sm md:text-base leading-tight
        inline-flex items-center justify-center
    }

    .tab-button span {
        @apply
        text-nowrap
    }

    .tab-button--active {
        @apply
        bg-primario-principal text-neutro-branco
    }

}
