@layer components {
    /* ========================================
       Timeline Components
       ======================================== */

    .timeline-1 {
        @apply
        relative w-full
    }

    .timeline-1 .timeline-1-items {
        @apply
        flex flex-col items-end lg-plus:gap-10 gap-6
        lg-plus:pl-0 sm:pl-16 pl-12
    }

    .timeline-1 .timeline-1-item {
        @apply
        max-w-[800px] w-full
        flex sm-plus:flex-row flex-col sm-plus:items-center items-start lg-plus:gap-10 gap-6
        sm-plus:pl-3 pl-6 sm-plus:py-3 py-8 sm-plus:pr-4 pr-6
        rounded-3xl
        bg-neutro-principal outline-2 -outline-offset-2 outline outline-neutro-variacao-1
    }

    .timeline-1 .timeline-1-item.item-active {
        @apply
        outline-secundario-principal
    }

    .timeline-1 .timeline-1-item:last-child {
        @apply
        bg-limao-variacao-1
        outline-transparent
    }

    .timeline-1 .timeline-1-item-count {
        @apply
        flex items-center gap-3
    }

    .timeline-1 .timeline-1-item-count-number {
        @apply
        flex flex-col items-center justify-center gap-2
        lg:w-30 lg:h-30 lg:min-w-30 lg:min-h-30
        sm-plus:w-24 sm-plus:h-24 sm-plus:min-w-24 sm-plus:min-h-24
        w-20 h-20 min-w-20 min-h-20
        bg-primario-variacao-5 text-limao-variacao-1
        rounded-2xl
        lg:text-6xl text-4xl font-display font-semibold
    }

    .timeline-1 .timeline-1-item-count-icon {
        @apply
        lg:w-30 lg:h-30 lg:min-w-30 lg:min-h-30
        sm-plus:w-24 sm-plus:h-24 sm-plus:min-w-24 sm-plus:min-h-24
        w-20 h-20 min-w-20 min-h-20
        flex items-center justify-center
        rounded-2xl
        bg-limao-variacao-1 text-primario-variacao-5
    }

    .timeline-1 .timeline-1-item:last-child .timeline-1-item-count-icon {
        @apply
        bg-primario-principal
    }

    .timeline-1 .timeline-1-item-count-icon svg {
        @apply
        lg:w-10 lg:h-10 lg:min-w-10 lg:min-h-10
        sm-plus:w-8 sm-plus:h-8 sm-plus:min-w-8 sm-plus:min-h-8
        w-6 h-6 min-w-6 min-h-6
        fill-primario-variacao-3
    }

    .timeline-1 .timeline-1-item:last-child .timeline-1-item-count-icon svg {
        @apply
        fill-limao-variacao-1
    }

    .timeline-1 .timeline-1-item-content {
        @apply
        w-full sm-plus:py-4 py-0
    }

    .timeline-1 .timeline-1-item-content h3 {
        @apply
        lg-plus:text-2xl text-xl
    }

    .timeline-1 .timeline-1-item-content h3 strong {
        @apply
        font-semibold
    }

    .timeline-1 .timeline-1-line {
        @apply
        absolute top-14 bottom-14 left-0 sm:w-8 w-6 z-0
    }

    .timeline-1 .timeline-1-line-line {
        @apply
        absolute top-[8px] left-1/2 -translate-x-1/2
        w-2 h-[calc(100%-16px)] bg-neutro-variacao-1 rounded-full
    }

    .timeline-1 .timeline-1-line-line-progress {
        @apply
        absolute top-0 left-1/2 -translate-x-1/2  z-10
        w-2 bg-limao-variacao-1 rounded-full
    }

    .timeline-1 .timeline-1-line-dots {
        @apply
        absolute top-0 bottom-0 left-1/2 -translate-x-1/2 z-20
        flex flex-col justify-between
    }

    .timeline-1 .timeline-1-line-dot {
        @apply
        sm:w-8 sm:h-8 w-6 h-6
        bg-neutro-variacao-2 rounded-full
        transition-all duration-300
    }

    .timeline-1 .timeline-1-line-dot.item-active {
        @apply
        bg-primario-principal
    }

}
