/* Arquivo principal de entrada para o Tailwind CSS */
/* Este arquivo importa todos os outros arquivos CSS organizados */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@import url('libs/swiper-bundle.min.css');

/* Base e configurações fundamentais */
@import './styles/base.css';

/* Transições de página */
@import './styles/transitions.css';

/* Componentes reutilizáveis - Base */
@import './styles/components/buttons.css';
@import './styles/components/content.css';
@import './styles/components/tags.css';
@import './styles/components/tabs.css';


/* Componentes reutilizáveis - Cards e Modals */
@import './styles/components/cards.css';
@import './styles/components/modals.css';
@import './styles/components/toast.css';

/* Componentes reutilizáveis - Formulários */
@import './styles/components/forms.css';

/* Componentes reutilizáveis - UI */
@import './styles/components/navigation.css';
@import './styles/components/cta.css';
@import './styles/components/timeline.css';
@import './styles/components/lists.css';
@import './styles/components/steps.css';
@import './styles/components/accordion.css';

/* Swiper */
@import './styles/slides-swiper.css';

/* Layout (header, footer, etc.) */
@import './styles/header.css';
@import './styles/footer.css';

/* Seções específicas e reutilizáveis do site */
@import './styles/components/hero.css';
@import './styles/sections.css';

/* Slide - Critérios */
@import './styles/slide-criterios.css';

/* Classes utilitárias customizadas */
@import './styles/utilities.css';	