@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply
        antialiased
        bg-neutro-branco;
    }

    body {
        @apply 
        font-body font-regular
        text-primario-variacao-5;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply 
        font-display font-semibold;
    }

    h1 {
        @apply
        text-5xl;
    }

    h2 {
        @apply
        text-4xl;
    }

    h3 {
        @apply
        text-3xl;
    }

    h4 {
        @apply
        text-2xl;
    }
 
    /* Estilos padrão para ícones Iconsax */
    .iconpdb {
        @apply
        w-6 h-6
        fill-current
        inline-block
        flex-shrink-0;
    }

    img {
        @apply
        w-full h-auto;
    }
    
}

@layer components {
    /* Botões */

    .btn {
        @apply
        inline-flex items-center justify-center gap-2
        px-6 py-3
        rounded-full
        bg-primario-variacao-1 hover:bg-primario-variacao-3 transition-all duration-300
        text-neutro-branco font-semibold text-lg text-center
    }

    .btn.btn-outline {
        @apply
        bg-transparent 
        text-primario-variacao-3
        hover:bg-primario-variacao-1
        hover:text-neutro-branco
        -outline-offset-2 outline-2 outline outline-primario-variacao-1
    }

    .btn.btn-secondary {
        @apply
        bg-limao-principal 
        text-primario-variacao-3
        hover:bg-limao-variacao-1
    }

    .btn.btn-outline.btn-secondary {
        @apply
        bg-transparent
        outline-limao-principal
        text-neutro-branco
        hover:bg-limao-principal
        hover:text-primario-variacao-3
    }

    .btn.btn-small {
        @apply
        px-4 py-2
        text-base
    }

    .btn.btn-large {
        @apply
        px-8 py-4
    }

    /* Header */

    .site-header {
        @apply
        absolute top-3 left-3 right-3 z-50
    }

    .content-header {
        @apply
        flex items-center justify-between
        p-6 rounded-3xl
        bg-neutro-preto/[0.08] backdrop-blur-lg
    }

    .content-header .content-left {
        @apply
        flex items-center gap-10
    }

    .site-logo svg {
        @apply
        w-auto h-auto min-h-12
    }

    .site-menu > ul {
        @apply
        flex items-center gap-2
    }

    .site-menu > ul > li > a {
        @apply
        inline-flex items-center gap-2
        text-neutro-branco font-semibold text-lg text-center
        px-4 py-1 rounded-full
        bg-transparent hover:bg-primario-variacao-4 transition-all duration-300
    }

    .site-menu > ul > li.current-menu-item > a {
        @apply
        bg-primario-variacao-4
    }

    .site-header.site-header--2 .content-header {
        @apply
        bg-neutro-preto/[0.04] backdrop-blur-none
    }

    .site-header.site-header--2 .site-menu > ul > li > a {
        @apply
        text-primario-variacao-3
        hover:bg-neutro-principal
    }

    .site-header.site-header--2 .site-menu > ul > li.current-menu-item > a {
        @apply
        bg-neutro-principal
    }

    .site-menu > ul > li > .sub-menu {
        @apply
        hidden
    }

    /* Conteúdo */

    .content-text {
        @apply
        w-full
    }

    .content-text h2 {
        @apply
        mb-3
    }

    .content-text p {
        @apply
        mb-4 text-lg
    }

    .content-text *:last-child {
        @apply
        mb-0
    }

    /* Conteúdo de ícones */

    .content-icon {
        @apply
        min-h-16 min-w-16 rounded-2xl bg-neutro-variacao-1
        inline-flex items-center justify-center
    }

    .content-icon svg {
        @apply
        min-w-8 min-h-8
    }

    .content-icon.content-icon--primario {
        @apply
        bg-primario-variacao-3
    }

    .content-icon.content-icon--primario svg {
        @apply
        fill-limao-principal
    }

    /* Seções */

    .sections-pagina-principal-sobre .card {
        @apply
        rounded-4xl overflow-hidden
        w-full h-full
    }

    .sections-pagina-principal-sobre .card-1 {
        @apply
        bg-neutro-principal
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-1-text {
        @apply
        px-8 pt-8 pb-6
    }

    .sections-pagina-principal-sobre .card-1-text h3 {
        @apply
        text-xl
    }

    .sections-pagina-principal-sobre .card-1-illustration svg {
        @apply
        w-full h-full
    }

    .sections-pagina-principal-sobre .card-2 {
        @apply
        bg-primario-variacao-5
        px-8 pt-8
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-2-text {
        @apply
        pb-6
    }

    .sections-pagina-principal-sobre .card-2-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .sections-pagina-principal-sobre .card-2-illustration svg {
        @apply
        w-full h-full
    }

    .sections-pagina-principal-sobre .cards-vertical {
        @apply
        flex flex-col gap-6 items-stretch
        h-full
    }

    .sections-pagina-principal-sobre .cards-vertical .card-3 {
        @apply
        h-auto
    }

    .sections-pagina-principal-sobre .card-3 {
        @apply
        bg-neutro-principal
        p-8
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-3-text h3 {
        @apply
        text-xl
    }

    .sections-pagina-principal-sobre .card-3-icon {
        @apply
        mb-6
    }

    .sections-pagina-principal-sobre .card-5 {
        @apply
        relative
        p-8
        flex flex-col justify-end
        before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-10
        before:bg-gradient-to-b before:from-primario-variacao-5/0 before:via-primario-variacao-5/40 before:to-primario-variacao-5
    }

    .sections-pagina-principal-sobre .card-5-text {
        @apply
        relative z-20
    }

    .sections-pagina-principal-sobre .card-5-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .sections-pagina-principal-sobre .card-5-image {
        @apply
        absolute top-0 left-0 w-full h-full z-0
    }

    .sections-pagina-principal-sobre .card-5-image img {
        @apply
        w-full h-full object-cover object-center
    }

    .sections-pagina-principal-sobre .card-6 {
        @apply
        p-8
        bg-primario-variacao-5
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-6-text {
        @apply
        max-w-[290px]
    }

    .sections-pagina-principal-sobre .card-6-text h3 {
        @apply
        text-xl text-neutro-branco
    }

    .sections-pagina-principal-sobre .card-6-icons {
        @apply
        flex flex-row justify-between
        mt-6
    }

    .sections-pagina-principal-sobre .card-6-icon {
        @apply
        w-full aspect-square
        rounded-3xl bg-neutro-principal
        flex items-center justify-center
        shadow-custom-1
        relative z-10

        last:bg-limao-principal
    }

    .sections-pagina-principal-sobre .card-6-icon svg {
        @apply
        w-12 h-12 min-w-12 min-h-12
    }

    .sections-pagina-principal-sobre .card-6-connection {
        @apply
        flex;
    }

    .sections-pagina-principal-sobre .card-6-connection.connection-left,
    .sections-pagina-principal-sobre .card-6-connection.connection-right {
        @apply
        flex flex-col py-6;
    }

    .sections-pagina-principal-sobre .card-6-connection .fill {
        @apply
        w-full h-full
        bg-neutro-branco
    }

    .sections-pagina-principal-sobre .card-6-connection .rounded-inverted {
        @apply
        w-4 h-4 min-w-4 min-h-4 overflow-hidden relative
        bg-neutro-branco
    }

    .sections-pagina-principal-sobre .card-6-connection .rounded-inverted:before {
        @apply
        content-[''] absolute bottom-0 left-0 w-full h-full z-10
        w-8 h-8 min-w-8 min-h-8 rounded-full
        bg-primario-variacao-5
    }

    .sections-pagina-principal-sobre .card-6-connection .rounded-inverted.rounded-inverted--2 {
        @apply
        rotate-90
    }

    .sections-pagina-principal-sobre .card-6-connection.connection-right {
        @apply
        -scale-x-100
    }

    .sections-pagina-principal-sobre .card-7 {
        @apply
        p-8
        bg-limao-principal
        flex flex-col justify-between
    }

    .sections-pagina-principal-sobre .card-7-content {
        @apply
        flex flex-col justify-between mb-6
    }

    .sections-pagina-principal-sobre .card-7-images {
        @apply
        flex flex-row gap-3 mb-6
    }

    .sections-pagina-principal-sobre .card-7-images > * {
        @apply
        w-1/4 min-w-14 rounded-3xl overflow-hidden
        first:-order-2
    }

    .sections-pagina-principal-sobre .card-7-icon {
        @apply
        flex items-center justify-center bg-primario-principal
        p-2 -order-1
    }

    .sections-pagina-principal-sobre .card-7-icon svg {
        @apply
        w-full h-auto max-w-14
        *:fill-limao-principal
    }

    .sections-pagina-principal-sobre .card-7-image img {
        @apply
        w-full h-full object-cover object-center
    }

    .sections-pagina-principal-sobre .card-7-text h3 {
        @apply
        text-xl
    }

    .sections-pagina-principal-sobre .card-7-cta .btn {
        @apply
        w-full
    }

    /* Texto de engajamento */

    .sections-pagina-principal-sobre .texto-engajameto {
        @apply
        flex flex-row gap-20 items-center
        w-full max-w-[1178px] mx-auto
    }

    .sections-pagina-principal-sobre .texto-engajameto svg {
        @apply
        w-full h-auto max-w-96
    }

    .sections-pagina-principal-sobre .texto-engajameto .content-text h2 {
        @apply
        text-5xl/[56px]
    }
    
}

@layer utilities {
    .p-section-top {
        @apply
        pt-20
    }

    .p-section-bottom {
        @apply
        pb-20
    }

    .p-section {
        @apply
        py-20
    }
}	